
<table class="table-top-menu" width="100%">
    <tr style="background-color:#C1D8F9">
        <td>
            | Setup <i class="fa fa-caret-down"></i>
            <div class="dropdown-table-holder">
                <table class="dropdown-table" width="100%">
                    <tr>
                        <td>
                            | Company Profile

                        </td>
                    </tr>

                    <tr>
                        <td>
                            | Organizational Layout <i class="fa fa-caret-right"></i>
                            <div class="sidekick-table-holder">
                                <table class="sidekick-table" width="100%">
                                    <tr>
                                        <td data-href="@Url.Action("Index", "Home",new { Area="HumanResource"})">
                                            | Branches
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            | Location<i class="fa fa-caret-right"></i>
                                            <div class="sidekick-table-holder">
                                                <table class="sidekick-table" width="100%>
                                                    <tr>
                                                        <td data-href="@Url.Action("Country", "Home",new { Area="HumanResource"})">
                                                            | Country
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-href="@Url.Action("GeographicalLocation", "Home",new { Area="HumanResource"})">
                                                            | Geographical Location
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-href="@Url.Action("District", "Home",new { Area="HumanResource"})">
                                                            | District
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-href="@Url.Action("Town", "Home",new { Area="HumanResource"})">
                                                            | Town
                                                        </td>
                                                    </tr>

                                                </table>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            | Departmental<i class="fa fa-caret-right"></i>
                                            <div class="sidekick-table-holder">
                                                <table class="sidekick-table">
                                                    <tr>
                                                        <td data-href="@Url.Action("Departments", "Home",new { Area="HumanResource"})">
                                                            | Departments
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-href="@Url.Action("Section", "Home",new { Area="HumanResource"})">
                                                            |Sections Setup
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-href="@Url.Action("Benches", "Home",new { Area="HumanResource"})">
                                                            |Benches For Sections
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-href="@Url.Action("DepartmentalLayout", "Home",new { Area="HumanResource"})">
                                                            |Sections For Departments
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-href="@Url.Action("DutyStation", "Home",new { Area="HumanResource"})">
                                                            |Duty Stations
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-href="@Url.Action("MeetingVenue", "Home",new { Area="HumanResource"})">
                                                            |Meeting Venues
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("StatutoryBodies", "Home",new { Area="HumanResource"})">
                            |Statutory Bodies
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("TrainingProgrammes", "Home",new { Area="HumanResource"})">
                            |Training Programmes
                        </td>
                    </tr>
                    <tr>
                        <td>
                            | Contracts<i class="fa fa-caret-right"></i>
                            <div class="sidekick-table-holder">
                                <table class="sidekick-table" width="40%">
                                    <tr>
                                        <td data-href="@Url.Action("ContractType", "Home",new { Area="HumanResource"})">
                                            |Types Of Contrcats
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("ContractTermination", "Home",new { Area="HumanResource"})">
                                            |Contract Termination
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            | Job Setups<i class="fa fa-caret-right"></i>
                            <div class="sidekick-table-holder">
                                <table class="sidekick-table" width="40%">
                                    <tr>
                                        <td data-href="@Url.Action("CasualLevels", "Home",new { Area="HumanResource"})">
                                            |Casual Levels
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("JobDescription", "Home",new { Area="HumanResource"})">
                                            |Job Description
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("JobCategory", "Home",new { Area="HumanResource"})">
                                            |Job Category
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("JobDesignation", "Home",new { Area="HumanResource"})">
                                            |Job Designations
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("LeaveType", "Home",new { Area="HumanResource"})">
                                            |Leave Types
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("JobFunction", "Home",new { Area="HumanResource"})">
                                            |Job Functions
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("JobFamily", "Home",new { Area="HumanResource"})">
                                            |Job Family
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("JobStatus", "Home",new { Area="HumanResource"})">
                                            |Job Status
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            | Applications<i class="fa fa-caret-right"></i>
                            <div class="sidekick-table-holder">
                                <table class="sidekick-table" width="40%">
                                    <tr>
                                        <td data-href="@Url.Action("JobRequisition", "Home",new { Area="HumanResource"})">
                                            |Requisition Types
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("InterviewDecisions", "Home",new { Area="HumanResource"})">
                                            |Interview Decisions
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("InterviewTypes", "Home",new { Area="HumanResource"})">
                                            |Interview Types
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>|External Interviewers </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("InterviewDisposition", "Home",new { Area="HumanResource"})">
                                            |Interview Disposition Reasons
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("ApplicationSources", "Home",new { Area="HumanResource"})">
                                            |Application Sources
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            | Union<i class="fa fa-caret-right"></i>
                            <div class="sidekick-table-holder">
                                <table class="sidekick-table" width="40%">
                                    <tr>
                                        <td data-href="@Url.Action("UnionTermination", "Home",new { Area="HumanResource"})">
                                            |Union Termination
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("SubscriptionPeriodicity", "Home",new { Area="HumanResource"})">
                                            |Subscription Periodicity
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("UnionAuthority", "Home",new { Area="HumanResource"})">
                                            |Union Authority
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            |Qualification <i class="fa fa-caret-right"></i>
                            <div class="sidekick-table-holder">
                                <table class="sidekick-table" width="40%">
                                    <tr>
                                        <td data-href="@Url.Action("EducationLevels", "Home",new { Area="HumanResource"})">
                                            |Education Levels
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("ProfessionalQualification", "Home",new { Area="HumanResource"})">
                                            |Professional Qualifications
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("ProfessionalLicencies", "Home",new { Area="HumanResource"})">
                                            |Professional Licencies
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("RolesAndResposibilities", "Home",new { Area="HumanResource"})">
                            |Roles and Resposibilities
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("TaskSetup", "Home",new { Area="HumanResource"})">
                            |Task Definition
                        </td>
                    </tr>
                    <tr>
                        <td>
                            | Management<i class="fa fa-caret-right"></i>
                            <div class="sidekick-table-holder">
                                <table class="sidekick-table" width="40%">
                                    <tr>
                                        <td data-href="@Url.Action("ManagementHierachies", "Home",new { Area="HumanResource"})">
                                            |Management Hierachies
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("Authorities", "Home",new { Area="HumanResource"})">
                                            |Authorities
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("ManagementLevels", "Home",new { Area="HumanResource"})">
                                            |Management Levels
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("ResourceAccess", "Home",new { Area="HumanResource"})">
                            |Resource Access Control
                        </td>
                    </tr>
                    <tr>
                        <td>
                            | Extra Mural<i class="fa fa-caret-right"></i>
                            <div class="sidekick-table-holder">
                                <table class="sidekick-table" width="40%">
                                    <tr>
                                        <td data-href="@Url.Action("SocialClubs", "Home",new { Area="HumanResource"})">
                                            |Social Clubs
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("ExtraCurricularActivity", "Home",new { Area="HumanResource"})">
                                            |Extra Curricular Activities
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("RecreationalFacilities", "Home",new { Area="HumanResource"})">
                                            |Recreational Facilities
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("Hobbies", "Home",new { Area="HumanResource"})">
                                            |Hobbies
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("Sports", "Home",new { Area="HumanResource"})">
                                            |Sports
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("Languages", "Home",new { Area="HumanResource"})">
                                            |Languages
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            |Performance Variables<i class="fa fa-caret-right"></i>
                            <div class="sidekick-table-holder">
                                <table class="sidekick-table" width="40%">
                                    <tr>
                                        <td data-href="@Url.Action("KPI", "Home",new { Area="HumanResource"})">
                                            |KPI Definitions
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("QualityIndicators", "Home",new { Area="HumanResource"})">
                                            |Quality Indicators
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("GradesAndMerits", "Home",new { Area="HumanResource"})">
                                            |Grades and Merits
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("MemoGrading", "Home",new { Area="HumanResource"})">
                                            |Memo Grading
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("Incentives", "Home",new { Area="HumanResource"})">
                                            |Incentives Setup
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            |Insurance Covers<i class="fa fa-caret-right"></i>
                            <div class="sidekick-table-holder">
                                <table class="sidekick-table" width="40%">
                                    <tr>
                                        <td data-href="@Url.Action("RetirementBenefits", "Home",new { Area="HumanResource"})">
                                            |Retirement Benefits
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("PolicyCovers", "Home",new { Area="HumanResource"})">
                                            |Policy Covers
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("TypesOfClaims", "Home",new { Area="HumanResource"})">
                                            |Types of Claims
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("EligibilityStatus", "Home",new { Area="HumanResource"})">
                                            |Benefit Eligibility Status
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("AccessingPolicy", "Home",new { Area="HumanResource"})">
                                            |Staff Accessing Policy
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("TrustFund", "Home",new { Area="HumanResource"})">
                                            |Trust Fund
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("PolicyBrokers", "Home",new { Area="HumanResource"})">
                                            |Policy Brokers
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("EmploymentBenefits", "Home",new { Area="HumanResource"})">
                                            |Employment Benefits
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            |Sacco and Staff Loans<i class="fa fa-caret-right"></i>
                            <div class="sidekick-table-holder">
                                <table class="sidekick-table" width="40%">
                                    <tr>
                                        <td data-href="@Url.Action("SavingsAndSaccos", "Home",new { Area="HumanResource"})">
                                            |Savings and Sacco Society
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("StaffLoanType", "Home",new { Area="HumanResource"})">
                                            |Staff Loan Type
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("PaymentMode", "Home",new { Area="HumanResource"})">
                                            |Loan Payment Mode
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("RepaymentMode", "Home",new { Area="HumanResource"})">
                                            |Loan Repayment Mode
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("Guarantors", "Home",new { Area="HumanResource"})">
                                            |Loan Guarantors
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            |System Procedures<i class="fa fa-caret-right"></i>
                            <div class="sidekick-table-holder">
                                <table class="sidekick-table" width="40%">
                                    <tr>
                                        <td data-href="@Url.Action("UserProfile", "Home",new { Area="HumanResource"})">
                                            |User Profiles
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            |Employee Setups<i class="fa fa-caret-right"></i>
                            <div class="sidekick-table-holder">
                                <table class="sidekick-table" width="40%">
                                    <tr>
                                        <td data-href="@Url.Action("EmployeeCategory", "Home",new { Area="HumanResource"})">
                                            |Employee Category
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action(" EmployeeStatus", "Home",new { Area="HumanResource"})">
                                            | Employee Status
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            |Disciplinary Actions<i class="fa fa-caret-right"></i>
                            <div class="sidekick-table-holder">
                                <table class="sidekick-table" width="40%">
                                    <tr>
                                        <td data-href="@Url.Action("DisplinaryReason", "Home",new { Area="HumanResource"})">
                                            |Reasons Warranting Action
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("TypesOfAction", "Home",new { Area="HumanResource"})">
                                            |Type of Action
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            |Employee Health and Safety<i class="fa fa-caret-right"></i>
                            <div class="sidekick-table-holder">
                                <table class="sidekick-table" width="40%">
                                    <tr>
                                        <td data-href="@Url.Action("SafetyEquipments", "Home",new { Area="HumanResource"})">
                                            |Safety Equipments
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("MedicalTests", "Home",new { Area="HumanResource"})">
                                            |Medical Tests
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-href="@Url.Action("IncidentTypes", "Home",new { Area="HumanResource"})">
                                            |Incident Types
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
       
        <td>
            |Reports<i class="fa fa-caret-down"></i>
            <div class="dropdown-table-holder">
                <table class="dropdown-table" width="100%">
                    <tr>
                        <td>
                            |Applications' Reports <i class="fa fa-caret-right"></i>
                            <div class="sidekick-table-holder inverse-dropdown">
                                <table class="sidekick-table" width="100%">

                                    <tr>
                                        <td data-href="@Url.Action("Index", "HRReports",new { Area="HumanResource"})">
                                            | Applicants List Report
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>|Applications by Educational Qualifications</td>
                                    </tr>
                                    <tr>
                                        <td>|Applications by Professional Qualifications</td>
                                    </tr>
                                    <tr>
                                        <td>|Applicant Resume</td>
                                    </tr>

                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            |Staff Reports<i class="fa fa-caret-right"></i>
                            <div class="sidekick-table-holder inverse-dropdown">
                                <table class="sidekick-table" width="100%">

                                    <tr>
                                        <td data-href="@Url.Action("", "HRReports",new { Area="HumanResource"})">
                                            | Staff List Report
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>|Memos</td>
                                    </tr>
                                    <tr>
                                        <td>|Employee History</td>
                                    </tr>
                                    <tr>
                                        <td>|Staff Attendance Report</td>
                                    </tr>
                                    <tr>
                                        <td>|Employee Accured Savings</td>
                                    </tr>
                                    <tr>
                                        <td>|Staff Appraisal Report</td>
                                    </tr>
                                    <tr>
                                        <td>|Performance Report</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </td>
    </tr>
                </table>
                            