@model PagedList.IPagedList<CaresoftHMISDataAccess.OpdRegister>
@using PagedList.Mvc;
@using CaresoftHMISDataAccess;

@{
    ViewBag.ShowTopMenu = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sanction Insurance";

    var FromDate = ViewBag.SearchData.FromDate.ToString("yyyy-MM-dd");
    var ToDate = ViewBag.SearchData.ToDate.ToString("yyyy-MM-dd");

    var RegNo = ViewBag.SearchData.RegNo;
    var Name = ViewBag.SearchData.Name;

    var Company = ViewBag.SearchData.Company;
    var BarCode = ViewBag.SearchData.BarCode;

}

<div class="col-md-6 col-lg-offset-3">
    <div class="panel caresoft-panel panel-primary ">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("SanctionInsurance", "PatientClaims", FormMethod.Get, new { }))
            {
                <table >
                    <tr>
                        <td><input id="page" name="page" hidden /></td>
                        <td colspan="3">
                            <div class="text-box" style="padding:5px">
                                @if (ViewBag.SelectedCompanyType == null || ViewBag.SelectedCompanyType == "Insurance")
                                {
                                    <label class="radio-inline"><input type="radio" name="PatientType" class="PatientType" value="Insurance" checked>Insurance</label>
                                    <label class="radio-inline"><input type="radio" name="PatientType" class="PatientType" value="Corporate">Corporate</label>

                                }
                                else
                                {
                                    <label class="radio-inline"><input type="radio" name="PatientType" class="PatientType" value="Insurance">Insurance</label>
                                    <label class="radio-inline"><input type="radio" name="PatientType" class="PatientType" value="Corporate" checked>Corporate</label>
                                }
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>From Date</td>
                        <td>
                            <input type="date" id="FromDate" name="FromDate" style="width:90%" class="text-box margin-top-bottom-2" value="@FromDate" />
                        </td>
                        <td>To Date</td>
                        <td>
                            <input type="date" id="ToDate" name="ToDate" style="width:100%" class="text-box margin-top-bottom-2" value="@ToDate" />
                        </td>
                    </tr>

                   
                    <tr>
                        <td>Company Name</td>
                        <td>
                            <select id="Company" name="Company" style="width:90%" class="text-box margin-top-bottom-2">

                                <option>Select </option>

                                @foreach (var comp in (List<Company>)ViewBag.Companies)
                                {
                                    var selected = "";
                                    if (ViewBag.SelectedCompany == comp.Id)
                                    {
                                        selected = "selected";
                                    }
                                    <option @selected class="@comp.CompanyType.CompanyTypeName.Trim()" value="@comp.Id"> @comp.CompanyName </option>
                                }

                            </select>
                        </td>
                        <td></td>
                        <td>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td colspan="3">
                            <button id="btnSearch" class="btn btn-sm btn-primary ">Search </button>
                        </td>
                     
                    </tr>

                </table>
            }
           <br />

            <table class="table table-data-pathology table-condensed table-responsive">
                <tr>
                    <th style="font-size:10px">
                        Reg No
                    </th>
                    <th style="font-size:10px">
                        IPD No
                    </th>
                    <th style="font-size:10px">
                        OPD No
                    </th>
                    <th style="font-size:10px">
                        Patient Name
                    </th>
                    <th style="font-size:10px">
                        Status
                    </th>
                    <th style="font-size:10px">
                        Bill Amount
                    </th>
                    <th style="font-size:10px">
                        Sanction Amount
                    </th>
                    <th></th>
                </tr>

                <tbody style="background:White;">

                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Patient.RegNumber)
                        </td>
                        <td>
                            @if (item.IsIPD)
                            {
                                @Html.DisplayFor(modelItem => item.Id)
                            }
                        </td>
                        <td>
                            @if (!item.IsIPD)
                            {
                                @Html.DisplayFor(modelItem => item.Id)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Patient.Salutation)
                            @Html.DisplayFor(modelItem => item.Patient.FName)
                            @Html.DisplayFor(modelItem => item.Patient.MName)
                            @Html.DisplayFor(modelItem => item.Patient.LName)
                        </td>
                        <td>
                            <select class="status" style="border:1px solid var(--primary-dark-color)">
                                <option>Select Status</option>
                                <option>Accepted</option>
                                <option>Rejected</option>
                                <option>Pending</option>
                            </select>
                        </td>
                        <td class="money">
                            @item.BillServices.Sum(e => (e.Price * e.Quatity))
                        </td>
                        <td style="width:45px;">
                            <input style="width:100%; " data-opd="@item.Id" class="Amount SanctionId text-box" />
                        </td>
                        <td>
                            <button data-opd="@item.Id" data-tarrif="@item.TariffId" type="button" class="btnSave btn btn-xs btn-primary">Save</button>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>


            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>

@section scripts{

    <script>

        @*$("#RegNo").autocomplete({
                source: function (request, response) {

                    $.ajax({
                        type: 'GET',
                        url: "@Url.Action("SearchPatient", "Billing")",
                        dataType: "json",
                        data: { search: $("#RegNo").val() },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.RegNumber + " ( " + item.Name + " ) ",
                                    value: item.RegNumber,
                                    Name: item.Name,
                                };
                            }));
                        }
                    });
                },
                error: function (xmlhttprequest, textstatus, errorthrown) {
                    showNotification("An Error Occured, try again later", "danger", true);
                },
                minLength: 2,
                select: function (event, ui) {
                    $("#Name").val(ui.item.Name);

                    console.log(ui.item.Name);
                }
        });*@

        //$(".PatientType").on("change", function () {
        //    alert($(this).val());

        //    if ($(this).val() == "Corporate") {
        //        $(".Corporate").removeClass("hidden");
        //        $(".Insurance").addClass("hidden");
        //    } else {
        //        $(".Corporate").addClass("hidden");
        //        $(".Insurance").removeClass("hidden");
        //    }

        //});

        $(".btnSave").click(function () {
            var Opd = $(this).data("opd");
            var tarrif = $(this).data("tarrif");
            var status = ($(this).parent().siblings()[4]);
            var Amount = ($(this).parent().siblings()[3]);

            showNotification(status, "info", true);
            return null;

            if (!ClaimNumber.trim()) {
                showNotification("Please Set Claim Number", "danger", true);
                return null;
            }

            $.get("/PatientClaims/SanctionInsurance?opd=" + Opd
                + "&tarrif=" + tarrif
                + "&status=" + tarrif
                + "&Amount=" + tarrif, function (data, status) {
                //alert("Data: " + data + "\nStatus: " + status);

                $('#btnSearch').trigger("click");

            });
        });

        $(".pagination  a").click(function (event ) {
            event.preventDefault();

            $('#page').val($(this).text());
            $('#btnSearch').trigger("click");
        });


    </script>
}