
@model IEnumerable<CaresoftHMISDataAccess.HRFileInformation>
@{
  
    CaresoftHMISDataAccess.CaresoftHMISEntities db = new CaresoftHMISDataAccess.CaresoftHMISEntities();

}

<div class="col-md-12">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading">
                Applicant Resume Database
            </div>
            <div class="panel-body">

                <ul class="nav nav-pills">
                    <li>
                        <div class="class=" panel panel-primary caresoft-panel">
                            <button type="button" class="call-modal-form btn btn-sm btn-primary" data-action="@Url.Action("BioData","Home",new {Area="HumanResource"})">

                                Bio Data/Addresses
                            </button>

                        </div>

                    </li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>
                        <div class="class=" panel panel-primary caresoft-panel">
                            <button data-callback="EditdischargeFormModalListener" type="button" class="call-modal-form btn btn-sm btn-primary" data-action="@Url.Action("Qualifications","Home",new {Area="HumanResource"})">
                                Qualifications
                            </button>

                        </div>

                    </li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>
                        <div class="class=" panel panel-primary caresoft-panel">
                            <button type="button" class="call-modal-form btn btn-sm btn-primary" data-action="@Url.Action("WorkExperience","Home",new {Area="HumanResource"})">
                                Work Experience
                            </button>

                        </div>

                    </li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>
                        <div class="class=" panel panel-primary caresoft-panel">
                            <button type="button" class="call-modal-form btn btn-sm btn-primary" data-action="@Url.Action("Refereees","Home",new {Area="HumanResource"})">
                                Referees
                            </button>

                        </div>

                    </li>
                    
                </ul>
                <br />
                <br />
                <div class="col-sm-12">
                    <form  method="post" action="@Url.Action("SaveApplicantResumeData","Home",new {Area="HumanResource"})">
                      <label><strong><u>Basic Information</u></strong></label>
                        <table class="table-form">
                            <tr>
                                <td><label>Applicant Id</label></td>
                                <td>
                                    <input type="text" name="ApplicantId" class="text-box box-lg " />
                                </td>
                                
                            </tr>
                            <tr>
                                <td><label>Surname</label></td>
                                <td>
                                    <input type="text" name="Surname" class="text-box box-lg " />
                                </td>
                                <td><label>Date Of Application</label></td>
                                <td>
                                    <input type="date" name="DateOfApplication" class="text-box box-lg" value="@DateTime.Today" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>First Name</label></td>
                                <td>
                                    <input type="text" name="FirstName" class="text-box box-lg " />
                                </td>
                                <td><label>Other Names</label></td>
                                <td>
                                    <input type="text" name="OtherNames" class="text-box box-lg " />
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <label>Application Source</label>
                                </td>
                                <td>
                                    <select name="ApplicationSource" class="text-box box-lg">
                                        <option>Select</option>
                                        <option>Employee Referral</option>
                                        <option>Employment Agency</option>
                                        <option>Executive Search</option>
                                        <option>Job Fair</option>
                                        <option>Local News Ad</option>
                                        <option>Regional National News Ad</option>
                                        <option>Walk In</option>
                                        <option>Other Sources</option>

                                    </select>
                                </td>
                                <td>
                                    <label>Position Applied For</label>
                                </td>
                                <td>
                                    <select name="PositionAppliedFor" class="text-box box-lg">
                                        <option>Select</option>
                                    </select>
                                </td>
                            </tr>
                            
                        </table>

                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("ApplicationResumeGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function EditdischargeFormModalListener() {
        universalModalCaller();
        $("#discharge_summaryF").submit(function (e) {
            e.preventDefault();
            var data = $(this).serializeObject();
            var Methd = $("#DischargeMethod").val();

            $(".loader").show();
            
            $.ajax({
                type: "POST",
                url: "SaveQualificationsData",
                data: data,
                headers: {
                    "authToken": ""
                },
                success: function (result) {
                    $(".loader").hide();
                    $("#containerr").empty();
                    $("#containerr").html(result);
                    universalModalCaller();
                    
                    showNotification("Data saved successfully!", "success", true);
                    
                },
                error: function (xmlhttprequest, textstatus, errorthrown) {
                    $(".loader").hide();
                    console.log(errorthrown, "danger")
                    console.log(xmlhttprequest.responseText);
                }
            });

        });

    }
</script>









