
@model IEnumerable<CaresoftHMISDataAccess.HRJobSetUp>
@{

    ViewBag.Title = "Casual Levels";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}
<div class="col-md-3">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>

@{
    var departments = (List<CaresoftHMISDataAccess.Department>)ViewBag.Departments;
}


<div class="col-md-6">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading custom-navbar">
                <p>@ViewBag.Title</p>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">

                    <form method="post" action="@Url.Action("SaveCasualLevelsData","Home",new {Area="HumanResource"})">

                        <label> <strong>PLEASE REGISTER YOUR CASUAL LEVELS HERE </strong></label>
                        <table class="table-form">
                            <tr>
                                <td><label>Casual Job Id</label></td>
                                <td>
                                    <input type="number" name="CasualJobId" class="text-box box-sm "/>
                                </td>
                                <td class="">
                                    <p>Department Name</p>
                                </td>
                                <td>
                                    <select name="departments" class="text-box box-lg ">
                                        <option>All</option>
                                        @foreach (var r in departments)
                                        {
                                            <option>@r.DepartmentName</option>
                                        }
                                    </select>

                                </td>
                            </tr>
                            <tr>
                                <td><label>Maximum Tenure Period(days)</label></td>
                                <td>
                                    <input type="number" name="MaximumTenurePeriod" class="text-box box-sm " />
                                </td>
                                <td><label>Renewable</label></td>
                                <td>
                                    <input type="checkbox" name="Renewable" class="text-box box-sm "  />
                                </td>
                            </tr>
                        </table>
                        <div class="form-group">
                            <label class="info-title col-md-12" for="black_name"><strong>Casual Designation Description</strong> <span><font color="black"><b></b></font></span></label>
                            <span id='message_full_name'></span>
                            <textarea style="width: 50%;height:70px;" name="CasualDesignationDescription" class="text-box unicase-form-control text-input" id="extension_number"
                                      placeholder="Enter plan">
                                        
                                    </textarea>

                           
                            <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                        </div>
                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("CasualLevelsGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







