@model IEnumerable<CaresoftHMISDataAccess.HRJobSetUp>


<table class="table table-data table-condensed">

    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.CasualJobId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaximumTenurePeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Renewable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CasualDesignationDescription)
        </th>
        

    <tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.CasualJobId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaximumTenurePeriod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Renewable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CasualDesignationDescription)
                </td>
              
            </tr>
        }
    </tbody>
</table>



