@model IEnumerable<CaresoftHMISDataAccess.HRContractTerminationCheckOut>


<table class="table table-data table-condensed">

    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Station)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Particulars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValueOfDegradation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeneralStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmountOfDegradation)
        </th>
<tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Station)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceivedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Particulars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueOfDegradation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeneralStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmountOfDegradation)
        </td>
    </tr>
        }
    </tbody>
</table>










