@model IEnumerable<CaresoftHMISDataAccess.HRConfirmation>


<table class="table table-data table-condensed">

    <tr>
        <th>Edit</th>
        <th>Delete</th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicantId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactedPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reviewer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResultsObtained)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instiution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResultsObtained1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
<tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
    <tr>
        <td>Edit</td>
        <td>Delete</td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicantId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactedPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reviewer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResultsObtained)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instiution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResultsObtained1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
    </tr>
        }
    </tbody>
</table>










