
@model IEnumerable<CaresoftHMISDataAccess.HRDepartment>
@{

    ViewBag.Title = "Departments";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";

}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>
@{
    var departments = (List<CaresoftHMISDataAccess.Department>)ViewBag.Departments;
}


<div class="col-md-8">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading custom-navbar">
                <p>@ViewBag.Title</p>
            </div>
            <div class="panel-body">
                <div class="col-xs-7">

                    <form id="branches" method="post" action="@Url.Action("SaveDepartmentData","Home",new {Area="HumanResource"})">

                        <label> <strong>PLEASE REGISTER YOUR DEPARTMENTS HERE</strong></label>

                        <table class="form-class">
                            <tr>
                                <td><label>DepartmentId</label></td>
                                <td>
                                    <input type="number" name="DepartmentId" class="text-box box-sm " style="margin-bottom:3px" />
                                </td>

                            </tr>
                            <tr>
                                <td class="">
                                    <p>Department Name</p>
                                </td>
                                <td>
                                    <select name="departments" class="text-box box-lg ">
                                        <option>All</option>
                                        @foreach (var r in departments)
                                        {
                                            <option>@r.DepartmentName</option>
                                        }
                                    </select>

                                </td>

                            </tr>
                            <tr>
                                <td class="form-group">
                                    <label class="info-title col-md-12" for="black_name">Remarks <span><font color="black"><b></b></font></span></label>
                                    <span id='message_full_name'></span>
                                    <textarea style="width: 150%;height:70px;" name="" type="text" class="text-box unicase-form-control text-input" id="extension_number"
                                              placeholder="Enter plan">
                                        
                                    </textarea>
                                </td>
                            </tr>
                        </table>

                        <br /><br />
                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />

                    </form>
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("DepartmentGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







