@model IEnumerable<CaresoftHMISDataAccess.HRDepartmentalLayout>


<table class="table table-data table-condensed">

    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.SectionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionLeader)
        </th>
<tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.SectionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionLeader)
        </td>
    </tr>
        }
    </tbody>
</table>



