@model IEnumerable<CaresoftHMISDataAccess.HRStaffEducationQualification>


<table class="table table-data table-condensed">

    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.StaffId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualificationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualificationDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Filename)
        </th>

<tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
            var path = item.Filename;
            

    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.StaffId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QualificationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QualificationDescription)
        </td>
        @if (path is null)
        {
            <td>
                <button class=" btn btn-sm btn-primary" disabled> Link</button>
            </td>

        }
        else
        {
            var test = path.Split(new string[] { "monials" }, StringSplitOptions.None).Last().Trim();
            <td>

                <a class=" btn btn-sm btn-primary" href="~/Content/Testimonials/@test" target="_blank">Link</a>
            </td>
        }
    </tr>
        }
    </tbody>
</table>














