
@model IEnumerable<CaresoftHMISDataAccess.HRHealthAndSafetyPromotion>
@{

    ViewBag.Title = "Health And Safety Promotion";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/Shared/_TrainingAndDevelopmentNav.cshtml")
</div>

@{
    var departments = (List<CaresoftHMISDataAccess.Department>)ViewBag.Departments;
}


<div class="col-md-6">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading custom-navbar">
                <p>@ViewBag.Title</p>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">

                    <form id="country" method="post" action="@Url.Action("SaveHealthSafetyData","Home",new {Area="HumanResource"})">

                        <table class="table-form">

                            <tr>
                                <td><label>Staff Id</label></td>
                                <td>
                                    <input type="number" name="StaffId" class="text-box box-lg" />
                                </td>
                                <td class="">
                                    <p>Department Name</p>
                                </td>
                                <td>
                                    <select name="Department" class="text-box box-lg ">
                                        <option>All</option>
                                        @foreach (var r in departments)
                                        {
                                            <option>@r.DepartmentName</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Safety Equipment Issued</label></td>
                                <td>
                                    <input type="text" name="SafetyEquipmentIssued" class="text-box box-lg" />
                                </td>
                                <td><label>Issued By</label></td>
                                <td>
                                    <input type="text" name="IssuedBy" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Operating Training Required</label></td>
                                <td>
                                    <input type="text" name="OperatingTrainingRequired" class="text-box box-lg" />
                                </td>
                                <td><label>Medical Test Required</label></td>
                                <td>
                                    <input type="text" name="MedicalTestRequired" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Date Of Last Test</label></td>
                                <td>
                                    <input type="date" name="DateOfLastTest" class="text-box box-lg" />
                                </td>
                                <td><label>Date Of Next Test</label></td>
                                <td>
                                    <input type="date" name="DateOfNextTest" class="text-box box-lg" />
                                </td>
                            </tr>
                        </table>
                                <div class="form-group">
                                    <label class="info-title col-md-12" for="black_name"><strong>Last Test Results</strong><span><font color="black"><b></b></font></span></label>
                                    <span id='message_full_name'></span>
                                    <textarea style="width:250px;height:70px;" name="LastTestResults" class="text-box unicase-form-control text-input" id="extension_number"
                                              placeholder="Enter plan">
                                        
                                    </textarea>
                                </div>
                           
                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("HealthAndSafetyGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>















