
@model IEnumerable<CaresoftHMISDataAccess.HRPerformanceVariable>
@{

    ViewBag.Title = "Incentives";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>

@{
    var departments = (List<CaresoftHMISDataAccess.Department>)ViewBag.Departments;
}


<div class="col-md-8">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading custom-navbar">
                <p>@ViewBag.Title</p>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">

                    <form id="country" method="post" action="@Url.Action("SaveIncentivesData","Home",new {Area="HumanResource"})">

                        <table class="form-class">
                            <tr>
                                <td><label>Staff Id</label></td>
                                <td>
                                    <input type="number" name="StaffId" class="text-box box-lg " />
                                </td>
                                <td class="">
                                    <p>Department Name</p>
                                </td>
                                <td>
                                    <select name="Department" class="text-box box-lg ">
                                        <option>All</option>
                                        @foreach (var r in departments)
                                        {
                                            <option>@r.DepartmentName</option>
                                        }
                                    </select>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Sections</label>
                                </td>
                                <td>
                                    <select name="Section" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                                <td>
                                    <label>Duty Station</label>
                                </td>
                                <td>
                                    <select name="DutyStation" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Incentive Type</label>
                                </td>
                                <td>
                                    <select name="IncentiveType" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                                <td><label>Promotion</label></td>
                                <td>
                                    <input type="radio" name="Promotion" class="text-box box-lg " />
                                </td>
                                <td><label>Demotion</label></td>
                                <td>
                                    <input type="radio" name="Demotion" class="text-box box-lg " />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Date</label></td>
                                <td>
                                    <input type="date" name="Promotion" class="text-box box-lg " />
                                </td>
                            </tr>
                        </table>
                        <div class="form-group">
                            <label class="info-title col-md-12" for="black_name">Remarks<span><font color="black"><b></b></font></span></label>
                            <span id='message_full_name'></span>
                            <textarea style="width: 50%;height:70px;" name="Remarks1" class="text-box unicase-form-control text-input" id="extension_number"
                                      placeholder="Enter plan">
                                        
                                    </textarea>

                            <br />
                            <br />
                            <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                        </div>
                    </form>
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("IncentivesGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









