
@model IEnumerable<CaresoftHMISDataAccess.HRJobDesc>
@{

    ViewBag.Title = "Job Descriptions";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}
<div class="col-md-3">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>

@{
    var departments = (List<CaresoftHMISDataAccess.Department>)ViewBag.Departments;
}

<div class="col-md-6">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading custom-navbar">
                <p>@ViewBag.Title</p>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">

                    <form method="post" action="@Url.Action("SaveJobDesriptionData","Home",new {Area="HumanResource"})">

                        <label> <strong>PLEASE REGISTER YOUR JOB DESCRIPTIONS HERE </strong></label>
                        <table class="table-form">
                            <tr>
                                <td><label>Job Id No</label></td>
                                <td>
                                    <input type="number" name="JobIdNo" class="text-box box-sm " style="margin-bottom:3px" />
                                </td>
                                <td class="">
                                    <p>Department</p>
                                </td>
                                <td>
                                    <select name="Department" class="text-box box-lg ">
                                        <option>All</option>
                                        @foreach (var r in departments)
                                        {
                                            <option>@r.DepartmentName</option>
                                        }
                                    </select>

                                </td>
                            </tr>
                            <tr>
                                <td><label>Job Title</label></td>
                                <td>
                                    <input type="text" name="JobTitle" class="text-box box-sm " style="margin-bottom:3px" />
                                </td>
                                <td>
                                    <label>Sections</label>
                                </td>
                                <td>
                                    <select name="Sections" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                            </tr>
                        </table>

                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />

                    </form>
                </div>
                <br />
                <div id="ipd-list" class="scrollable-table-container">
                    @Html.Partial("JobDescriptionGrid")
                </div>
            </div>
        </div>
    </div>
</div>









