@model IEnumerable<CaresoftHMISDataAccess.HRJobDesignation>


<table class="table table-data table-condensed">

    <tr>
        <th>Edit</th>
        <th>Delete</th>
        <th>
            @Html.DisplayNameFor(model => model.JobIdNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDesignations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sections)
        </th>

    <tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
            <tr>
                <td>Edit</td>
                <td>Delete</td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobIdNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobDesignations)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sections)
                </td>

            </tr>
        }
    </tbody>
</table>





