@model IEnumerable<CaresoftHMISDataAccess.HROperatorCheckOff>


<table class="table table-data table-condensed">

    <tr>

        <th>
            @Html.DisplayNameFor(model => model.OperatorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperatorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationOfBuilding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Floor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Court)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermsAndConditions)
        </th>


    <tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.OperatorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperatorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactPerson)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationOfBuilding)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Floor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Court)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.)
                </td>

            </tr>
        }
    </tbody>
</table>










