@model IEnumerable<CaresoftHMISDataAccess.HRQualification>


<table class="table table-data table-condensed">

    <tr>

        <th>
            @Html.DisplayNameFor(model => model.LicenceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentIssuingLicence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicenceDescription)
        </th>

    <tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.LicenceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qualification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentIssuingLicence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicenceDescription)
                </td>
            </tr>
        }
    </tbody>
</table>






