
@model IEnumerable< CaresoftHMISDataAccess.HRQualification>

<table class="table table-data table-condensed">

    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ApplicantId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EducationLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualificationsAttained)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradeObtained)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionAttended)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraduationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            Educational Documents
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfQualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Institution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleCourse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            Remarks
        </th>
        <th>
            Professional Documents
        </th>

    <tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {

            var path = item.Filename;

            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ApplicantId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EducationLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QualificationsAttained)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradeObtained)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstitutionAttended)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GraduationYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                @if (path is null)
                {
                    <td>
                        <button class=" btn btn-sm btn-primary" disabled> Link</button>
                    </td>

                }
                else
                {
                    var test = path.Split(new string[] { "monials" }, StringSplitOptions.None).Last().Trim();
                    <td>

                        <a class=" btn btn-sm btn-primary" href="~/Content/Testimonials/@test" target="_blank">Link</a>
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfQualification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Institution)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleCourse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks1)
                </td>
                @if (path is null)
                {
                    <td>
                        <button class=" btn btn-sm btn-primary" disabled> Link</button>
                    </td>

                }
                else
                {
                    var test = path.Split(new string[] { "monials" }, StringSplitOptions.None).Last().Trim();
                    <td>

                        <a class=" btn btn-sm btn-primary" href="~/Content/Testimonials/@test" target="_blank">Link</a>
                    </td>
                }


            </tr>
        }
    </tbody>
</table>











