@model IEnumerable<CaresoftHMISDataAccess.HRContractTerminationReason>


<table class="table table-data table-condensed">

    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ContractNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReasonOfTermination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerminationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeOfPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedDateOfPayment)
        </th>


    <tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ContractNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReasonOfTermination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TerminationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountDue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModeOfPayment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpectedDateOfPayment)
                </td>

            </tr>
        }
    </tbody>
</table>










