@model IEnumerable<CaresoftHMISDataAccess.HRApplicant>
@using Caresoft2._0.Utils;
<table class="table table-data table-hover table-condensed">
    <tr>
        <th>
            Registration
        </th>
       
        <th>

            @Html.DisplayNameFor(model => model.ApplicantId)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Salutation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherNames)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
       
        <th>
            Mobile
        </th>

        <th>
            @Html.DisplayNameFor(model => model.HomeAddress)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.NationalId)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegTime)
        </th>
        <th>
            Registered By
        </th>


    </tr>


    <tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
            <tr>
                <td>
                    <div class="class=" panel panel-primary caresoft-panel">
                        <button type="button" class="call-modal-form btn btn-sm btn-primary" data-action="@Url.Action("ApplicantResume","Home",new {Area="HumanResource"})">
                            Applicant
                        </button>

                    </div>
                </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.ApplicantId)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Salutation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtherNames)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @if (item.DOB != null)
                    {
                        @item.DOB.Value.ToString("dd MMM yyyy")
                    }
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeAddress)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NationalId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
               
                <td>
                    @if (item.RegDate != null)
                    {
                        @item.RegDate.Value.ToString("dd MMM yyyy")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegTime)
                </td>
                
            </tr>
        }
    </tbody>

</table>
