
@model IEnumerable<CaresoftHMISDataAccess.HRResourceAccessControl>
@{
              
                ViewBag.Title = "Remote Access Control";
                ViewBag.showTopMenu = true;
                ViewBag.WideView = true;
                Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>
@{
    var departments = (List<CaresoftHMISDataAccess.Department>)ViewBag.Departments;
}
<div class="col-md-7">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading custom-navbar">
                <p>@ViewBag.Title</p>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">

                    <form id="country" method="post" action="@Url.Action("SaveRemoteAccessData","Home",new {Area="HumanResource"})">

                        <table class="table-form">

                            <tr>
                                <td><label>Resource Id</label></td>
                                <td>
                                    <input type="number" name="ResourceId" class="text-box box-lg" />
                                </td>
                                <td><label>Begin Date</label></td>
                                <td>
                                    <input type="date" name="BeginDate" class="text-box box-lg" />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label>Resource Type</label>
                                </td>
                                <td>
                                    <select name="ResourceType" class="text-box box-lg">
                                        <option>Select</option>
                                        <option>Bonding</option>
                                        <option>Government</option>
                                        <option>Security</option>
                                    </select>
                                </td>
                                <td><label>Expiry Date</label></td>
                                <td>
                                    <input type="date" name="ExpiryDate" class="text-box box-lg" />
                                </td>

                            </tr>
                            <tr>
                                <td class="">
                                    <p>Department</p>
                                </td>
                                <td>
                                    <select name="Department" class="text-box box-lg ">
                                        <option>All</option>
                                        @foreach (var r in departments)
                                        {
                                            <option>@r.DepartmentName</option>
                                        }
                                    </select>

                                </td>
                                <td><label>In force</label></td>
                                <td>
                                    <input type="radio" name="Inforce" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Section</label>
                                </td>
                                <td>
                                    <select name="Section" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                                <td>
                                    <label>Duty Station</label>
                                </td>
                                <td>
                                    <select name="DutyStation" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-group">
                                    <label class="info-title col-md-12" for="black_name">Remarks<span><font color="black"><b></b></font></span></label>
                                    <span id='message_full_name'></span>
                                    <textarea style="width:150%;height:70px;" name="Remarks" class="text-box unicase-form-control text-input" id="extension_number"
                                              placeholder="Enter plan">
                                        
                                    </textarea>
                                </td>
                            </tr>
                        </table>
                        <br />

                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("RACGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




















