@model IEnumerable<CaresoftHMISDataAccess.HRShiftScheduling>


<table class="table table-data table-condensed">

    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ShiftNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfTask)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supervisor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Task)
        </th>
        <
    <tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ShiftNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfTask)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supervisor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Task)
                </td>
                
            </tr>
        }
    </tbody>
</table>
















