
@model IEnumerable<CaresoftHMISDataAccess.HRShiftScheduling>
@{

    ViewBag.Title = "Shift Scheduling";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>
@{
    var departments = (List<CaresoftHMISDataAccess.Department>)ViewBag.Departments;
}
<div class="col-md-7">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading custom-navbar">
                <p>@ViewBag.Title</p>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">

                    <form id="country" method="post" action="@Url.Action("SaveShiftData","Home",new {Area="HumanResource"})">

                        <table class="table-form">
                            <tr>
                                <td><label>Shift No</label></td>
                                <td>
                                    <input type="number" name="ShiftNo" class="text-box box-lg" />
                                </td>
                                <td><label>Date Of Task</label></td>
                                <td>
                                    <input type="date" name="DateOfTask" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>Department</p>
                                </td>
                                <td>
                                    <select name="Department" class="text-box box-lg ">
                                        <option>All</option>
                                        @foreach (var r in departments)
                                        {
                                            <option>@r.DepartmentName</option>
                                        }
                                    </select>

                                </td>

                                <td>
                                    <label>Section</label>
                                </td>
                                <td>
                                    <select name="Section" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>

                            </tr>

                            <tr>
                                <td><label>Start Time</label></td>
                                <td>
                                    <input type="time" name="StartTime" class="text-box box-lg" />
                                </td>
                                <td><label>End Time</label></td>
                                <td>
                                    <input type="time" name="EndTime" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Supervisor</label></td>
                                <td>
                                    <input type="text" name="Supervisor" class="text-box box-lg" />
                                </td>
                                </tr>
                            <tr><td><label><strong>Staff Involved</strong></label></td></tr>
                            <tr>
                                <td><label>Staff Id</label></td>
                                <td>
                                    <input type="number" name="StaffId" class="text-box box-lg" />
                                </td>
                                <td class="form-group">
                                    <label class="info-title col-md-12" for="black_name">Task<span><font color="black"><b></b></font></span></label>
                                    <span id='message_full_name'></span>
                                    <textarea style="width:150%;height:70px;" name="Task" class="text-box unicase-form-control text-input" id="extension_number"
                                              placeholder="Enter plan">
                                        
                                    </textarea>
                                </td>
                            </tr>
                        </table>
                        <br />

                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("ShiftGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>























