
@model IEnumerable<CaresoftHMISDataAccess.HRStaffWorkExperience>
@{

    ViewBag.Title = "Staff Resume Database";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";

    CaresoftHMISDataAccess.CaresoftHMISEntities db = new CaresoftHMISDataAccess.CaresoftHMISEntities();

}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/Shared/_ContractManagementNav.cshtml")
</div>

<div class="col-md-6">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading">
                Staff Resume Database
            </div>
            <div class="panel-body">

                <ul class="nav nav-pills">
                    <li>
                        <div class="class=" panel panel-primary caresoft-panel">
                            <button type="button" class="call-modal-form btn btn-sm btn-primary" data-action="@Url.Action("FileDetails","Home",new {Area="HumanResource"})">
                                File Details

                            </button>

                        </div>

                    </li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>
                        <div class="class=" panel panel-primary caresoft-panel">
                            <button type="button" class="call-modal-form btn btn-sm btn-primary" data-action="@Url.Action("StaffBioData","Home",new {Area="HumanResource"})">
                                Bio Data
                            </button>

                        </div>

                    </li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>
                        <div class="class=" panel panel-primary caresoft-panel">
                            <button type="button" class="call-modal-form btn btn-sm btn-primary" data-action="@Url.Action("EducationalQuaifications","Home",new {Area="HumanResource"})">
                                Educational Qualifications
                            </button>

                        </div>

                    </li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>
                        <div class="class=" panel panel-primary caresoft-panel">
                            <button type="button" class="call-modal-form btn btn-sm btn-primary" data-action="@Url.Action("ProfessionalQuaifications","Home",new {Area="HumanResource"})">
                                Professional Qualifications
                            </button>

                        </div>

                    </li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>
                        <div class="class=" panel panel-primary caresoft-panel">
                            <button type="button" class="call-modal-form btn btn-sm btn-primary" data-action="@Url.Action("StaffReferees","Home",new {Area="HumanResource"})">
                              Referees
                            </button>

                        </div>

                    </li>
                </ul>
                
                <br />
                <label><strong><u>Work Experience</u></strong></label>
                <div class="col-sm-12">
                    @using (Html.BeginForm("SaveStaffWorkExperienceData", "Home", new { Area = "HumanResource" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <table class="table-form">
                            <tr>
                                <td><label>Staff Id</label></td>
                                <td>
                                    <input type="text" name="StaffId" class="text-box box-lg " readonly value="ST/@db.HRStaffWorkExperiences.Count()"/>
                                </td>
                            </tr>
                           
                            <tr>
                                <td><label>Begin Date</label></td>
                                <td>
                                    <input type="date" name="BeginDate" class="text-box box-lg " />
                                </td>
                                <td><label>End Date</label></td>
                                <td>
                                    <input type="date" name="EndDate" class="text-box box-lg " />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Employer</label></td>
                                <td>
                                    <input type="text" name="Employer" class="text-box box-lg " />
                                </td>
                                <td><label>Position</label></td>
                                <td>
                                    <input type="text" name="Position" class="text-box box-lg " />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Salary</label></td>
                                <td>
                                    <input type="number" name="Salary" class="text-box box-lg " />
                                </td>
                                <td><label>Remarks</label></td>
                                <td>
                                    <input type="text" name="Remarks" class="text-box box-lg " />
                                </td>
                            </tr>
                            <tr>
                                <td> <label> <b>Upload Recommendations(IF ANY)</b></label> </td>
                                <td>
                                    <input type="file" class="text-box box-lg" id="Filename" value="" name="Filename" />
                                </td>
                            </tr>
                        </table>

                    <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />

                    <br />
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("StaffWorkExperienceGrid")
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>













