@model IEnumerable<CaresoftHMISDataAccess.HRInsuranceCover>


<table class="table table-data table-condensed">

    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FundId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FundDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhereToClaimFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks1)
        </th>
<tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FundId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FundDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhereToClaimFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks1)
            </td>
        </tr>
        }
    </tbody>
</table>








