

<table class="table-top-menu" width="100%">
    <tr style="background-color:#C1D8F9">
        <td></td>
        <td></td>
        <td></td>
        <td width="200px">
            | Master <i class="fa fa-caret-down"></i>
            <div class="dropdown-table-holder">
                <table class="dropdown-table" width="100%">
                    <tr>
                        <td data-href="@Url.Action("ItemMaster", "MasterFixedAssets")">
                            | Item Master
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("SupplierMaster", "MasterFixedAssets")">
                            | Supplier Master
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("ManufactureCompany", "MasterFixedAssets")">
                            | Manufacture Company
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("CategoryMaster", "MasterFixedAssets")">
                            | Category Master
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("RackMaster", "MasterFixedAssets")">
                            | Rack Master
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("ItemLocationDetails", "MasterFixedAssets")">
                            | Set Item Location
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td width="200px">
            | Transaction  <i class="fa fa-caret-down"></i>
            <div class="dropdown-table-holder">
                <table class="dropdown-table" width="100%">
                    <tr>
                        <td data-href="@Url.Action("DeptIndexList", "TransactionFixedAssets")">
                            | Dept Indent Request
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("IssueVoucher", "TransactionFixedAssets")">
                            | Issue Voucher
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("SearchIssueVoucher", "TransactionFixedAssets")">
                            | Search Issue Voucher
                        </td>
                    </tr>

                    <tr>
                        <td data-href="@Url.Action("IssueToCssd", "TransactionFixedAssets")">
                            | View CSSD Request
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td width="200px">
            | Report <i class="fa fa-caret-down"></i>
            <div class="dropdown-table-holder">
                <table class="dropdown-table" width="100%">
                    <tr>
                        <td data-href="@Url.Action("", "")">
                            | Stock Report
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("", "")">
                            | Patient Report
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("", "")">
                            | Department Report
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("", "")">
                            | Branch Report
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("", "")">
                            | Donor Wise Report
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("", "")">
                            | Issue/Sales Report
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>




