@model IEnumerable<CaresoftHMISDataAccess.BillService>


<table class="table table-data table-condensed" id="tblBillServices">
    <thead>
        <tr>
            <th>No</th>
            <th>Dr Name</th>
            <th>Service</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>SubTotal</th>
            <th>Award</th>
            <th>Payable</th>
            <th>Billed</th>
        </tr>
    </thead>
    <tbody class="bg-white">
        @{ var x = 1; var sumAward = 0.0; var sumPayable = 0.0; }
        @foreach (var item in Model)
        {
            var PayableAmount = (item.Quatity * item.Price) - item.Award;
            <tr @if (item.Paid) {<text>style="background-color:yellowgreen;"</text> PayableAmount = 0.0; }>
                <td>@x</td>
                <td></td>
                <td>@item.ServiceName</td>
                <td>@item.Quatity</td>
                <td>@item.Price</td>
                <td>@((item.Price * @item.Quatity).ToString())</td>
                <td>@item.Award</td>
                <td>@PayableAmount</td>
                <td>
                   @if (item.Paid)
                   {<text>Paid</text> }
                   else
                   {
                       <text>
                        <input type="button" value="Delete" class="btn btn-xs btn-danger" onclick="deleteBillItem('@item.Id', this)" />
                      </text>
                   }
                </td>
            </tr>
            sumAward += item.Award;
            sumPayable += PayableAmount;

            x++;
        }
    </tbody>
    <tfoot>
        @*<tr class="" id="walk-in-only">
            <td><small>New *</small></td>
            <td></td>
            <td id="search-service"class="editable-td" style="background:#f5f5f5; border:2px dotted var(--primary-color);">
                <table width="100%">
                    <tr>
                        <td contenteditable="true"></td>
                    </tr>
                </table>
            </td>
            <td contenteditable="true" class="editable-td" style="background:#f5f5f5; border:2px dotted var(--primary-color);"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>*@
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td data-sum-award="@sumAward" id="sum-award">Sum = @sumAward</td>
            <td data-sum-payable="@sumPayable" id="sum-payable">Sum = @sumPayable</td>
            <td></td>
        </tr>
    </tfoot>
</table>