@model IEnumerable<CaresoftHMISDataAccess.Company>
@{
    ViewBag.Title = "Tb Report";
    Layout = "~/Areas/CareSoftReports/Views/Shared/_LayoutReports.cshtml";
    ViewBag.ReportName = ViewBag.Title;
}

<style>
    .text-box {
        width: 200px;
    }
</style>
<div class="col-md-8 col-sm-offset-2">
    <div class="panel panel-primary glass caresoft-panel">
        <div class="panel-heading">
            <h4>@ViewBag.ReportName</h4>
            Set report filters and click download.
        </div>
        <div class="panel-body">
            <form name="ReportFilter" id="ReportFilter" method="get" action="@Url.Action("GetTBReport","MISReports",new {Area="CareSoftReports"})">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <div class="">
                                <label> From Date</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <input class="text-box" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="FromDate" />

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label>End Date</label>
                        </div>
                        <div class="col-md-6">
                            <input class="text-box" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="ToDate" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="Department" class="col-md-6">
                        <br />
                        <div class="col-md-4">
                            <div class="">
                                <p>Insurance Scheme</p>
                            </div>
                         
                        </div>
                        <div class="col-md-6">
                            <select name="Department" id="dept" class="text-box">
                                <option>All</option>
                                @foreach (var item in Model)
                                {
                                    <option>@item.CompanyName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <br />
                    <div class="col-md-6">
                        <div id="Department" class="form-inline">
                            <div class="col-md-4">
                                <label class="">Select Download Format </label>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>

                        <div class="col-md-6">
                            <div class="">
                                <select name="Format" id="dept" class="text-box">
                                    <option>PDF</option>
                                    @*<option>EXCEL</option>*@
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <br />
                        <button type="submit" class="btn btn-primary btn-sm" id="btnDownloadReport">Download TB Report</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts{

    <script>


    </script>

}


