@model IEnumerable<Caresoft2._0.Areas.Procurement.Models.SimulationTreatment>

@{
    ViewBag.Title = "ItemRefund";
    Layout = "~/Areas/MedicalStore/Views/Shared/_LayoutMedicalStore.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-primary caresoft-panel" style="margin-top:10px">
        <div class="panel-heading custom-navbar">
            <p style="color:black ; margin-left:5px"> <strong> Item Refund </strong></p>
        </div>
        <div class="panel-body">
            <div class="">
                <div class="col-md-12">
                    <table class="table-form">
                        <tr>
                            <td>
                                From Date
                            </td>
                            <td>
                                <input type="date" class="text-box" />
                            </td>
                            <td>
                                To Date
                            </td>
                            <td>
                                <input type="date" class="text-box" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Voucher No
                            </td>
                            <td>
                                <input type="text" class="text-box" />
                            </td>
                            <td>
                                <button class="btn btn-sm btn-primary">Show</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <br />
                <table class="table table-data">
                    <tr>
                        <th>
                            Voucher No
                        </th>
                        <th>
                            Item Name
                        </th>
                        <th>
                            Batch No
                        </th>
                        <th>
                            Refund Date
                        </th>
                        <th>
                            Refund Qty
                        </th>
                        <th>
                            Refund Amount
                        </th>
                    </tr>
                    @if (Model==null)
                    {
                        <tr>
                            <td colspan="5">No data to display</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            var itemRefundAmount = item.Rate * item.ItemRefund;
                            <tr>
                                <td>@item.SimulationPatientIssueVoucher.VoucherNumber</td>
                                <td>@item.ItemMaster.ItemName</td>
                                <td>@item.ItemMaster.BatchNo</td>
                                <td></td>
                                <td>@item.ItemRefund</td>
                                <td>@itemRefundAmount</td>
                            </tr>
                         }
                    }


                </table>
                <div class="col-md-12">
                    <button class="btn btn-primary btn-sm">Report</button>
                </div>
            </div>
        </div>
    </div>
</div>

