@model IEnumerable<CaresoftHMISDataAccess.Patient>
@{
    ViewBag.Title = "Cards";
    ViewBag.ShowTopMenu = true;
}

<div class="container">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-4 id-card id-front">
                <div class="id-heading">
                    <img class="id-company-logo" align="left" />
                    <p class="text-center text-large">Kenyatta National Hospital</p>
                    <p class="text-center text-medium">MEDICAL CARD</p>
                </div>
                <img class="id-holder-img" align="left" />
                <table class="id-details">
                    <tr>
                        <th>Name</th>
                        <td>@Html.DisplayFor(modelItem => item.Salutation) @Html.DisplayFor(modelItem => item.FName) @Html.DisplayFor(modelItem => item.MName) @Html.DisplayFor(modelItem => item.LName)</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                    </tr>
                    <tr>
                        <th>DOB</th>
                        <td>@Html.DisplayFor(modelItem => item.DOB)</td>
                    </tr>
                    <tr>
                        <th>Blood Group</th>
                        <td>@Html.DisplayFor(modelItem => item.BloodGroup)</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4 id-card id-back">
                <div class="id-barcode"></div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="row">
                            <div class="col-xs-4 col-sm-offset-4">
                                <img id="id-auth-signature" src="~/Content/icons/sample-signature.png" class="img-responsive" />
                            </div>
                        </div>
                        <p>This identity card is the property of Kenyatta National Hospital.</p>
                        <p>If found please return to: PO Box 2201-001000 GPO, Nairobi, Kenya</p>
                    </div>
                </div>
            </div>
        </div>
        <hr />

    }
</div>







