

<table class="table-top-menu" width="100%">
    <tr style="background-color:#C1D8F9">
        <td></td>
        <td></td>
        <td></td>
        <td width="200px">
            | Finance Reports <i class="fa fa-caret-down"></i>
            <div class="dropdown-table-holder">
                <table class="dropdown-table" width="100%">
                    <tr>
                        <td data-href="#">
                            | Report 1
                        </td>
                    </tr>
                    <tr>
                        <td data-href="#">
                            | Reports 2
                        </td>
                    </tr>

                </table>
            </div>
        </td>
        <td width="200px">
            | MOH Reports  <i class="fa fa-caret-down"></i>
            <div class="dropdown-table-holder">
                <table class="dropdown-table" width="100%">
                    <tr>
                        <td data-href="@Url.Action("MOH505", "HomeReports",new { Area="CareSoftReports"})">
                            | MOH 505
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("MOH705A", "HomeReports", new { Area="CareSoftReports"})">
                            | MOH 705A
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("MOH705B","HomeReports", new { Area="CareSoftReports"})">
                            | MOH 705B
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("MOH717","HomeReports", new { Area="CareSoftReports"})">
                            | MOH 717
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("MOH706","HomeReports", new { Area="CareSoftReports"})">
                            | MOH 706
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("MOHMonthlyAnalysis","HomeReports", new { Area="CareSoftReports"})">
                            | MOH Monthly Analysis
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("MOH710","HomeReports", new { Area="CareSoftReports"})">
                            | MOH 710
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("MOH711","HomeReports", new { Area="CareSoftReports"})">
                            | MOH 711
                        </td>
                    </tr>
                     <tr>
                         <td data-href="@Url.Action("MOH733B","HomeReports", new { Area="CareSoftReports"})">
                             | MOH 733B
                         </td>
                    </tr>



                </table>
            </div>
        </td>
        <td width="200px">
            | MIS Reports <i class="fa fa-caret-down"></i>
            <div class="dropdown-table-holder">
                <table class="dropdown-table" width="100%">
                    <tr>
                        <td data-href="@Url.Action("PatientList","MISReports", new { Area="CareSoftReports"})">
                            | Patient List
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("PatientListByDepartment","MISReports", new { Area="CareSoftReports"})">
                            | Patient List By Department
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("PatientListSheetNewRevisit","MISReports", new { Area="CareSoftReports"})">
                            | Patient List New and Revisit
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("PatientListSheetNew","MISReports", new { Area="CareSoftReports"})">
                            | Patient List New
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("DepartmentOutPatientAttendance","MISReports", new { Area="CareSoftReports"})">
                            | Department OutPatient Attendance
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("DiseasesMobidity","MISReports", new { Area="CareSoftReports"})">
                            | Diagnosis Morbidity
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("PatientListDiagnosisCommentsRevisit","MISReports", new { Area="CareSoftReports"})">
                            | Patient Diagnosis With Doctors Comments
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("InsuranceReport","MISReports", new { Area="CareSoftReports"})">
                            | Insurance Report
                        </td>
                    </tr>

                    <tr>
                        <td data-href="@Url.Action("ServicesAndPrices","MISReports", new { Area="CareSoftReports"})">
                            | Services and Prices Report
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("TBReport","MISReports", new { Area="CareSoftReports"})">
                            | TB Report
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td width="200px">
            | EMR Reports <i class="fa fa-caret-down"></i>
            <div class="dropdown-table-holder">
            </div>
        </td>

        <td width="200px">
            | Statement Per Scheme <i class="fa fa-caret-down"></i>
            <div class="dropdown-table-holder">
                <table class="dropdown-table" width="100%">
                    <tr>
                        <td data-href="@Url.Action("StatementOfAccountReport","AccountPerDepartment", new { Area="CareSoftReports"})">
                            | Statement of Account Per Department
                        </td>
                    </tr>
                    </table>
                </div>
            </td>
                   


    </tr>

</table>









