@model LabsDataAccess.LabTest


<div class="col-xs-6 col-xs-offset-2">

    <br />
    <div class="panel panel-primary caresoft-panel">
        <div class="panel-heading" style="height:40px ; ">
            <h5 style="font-weight:bold">Add Test</h5>
        </div>

        <div class="panel-body">
            <div class="alert alert-danger" role="alert">
                <strong></strong> <a href="#" id="Message" class="alert-link">Are you sure you want to delete this?</a>
            </div>
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Test)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Test)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Test_Code)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Test_Code)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Order_Number)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Order_Number)
                    </dd>

                    @*<dt>
                        @Html.DisplayNameFor(model => model.Test_Method)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Test_Method)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ICD10)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ICD10)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.HCPCS_Code)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.HCPCS_Code)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CPT_Code)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CPT_Code)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Machine_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Machine_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Title_Machine_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title_Machine_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Sample_Type)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Sample_Type)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Shot_Form)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Shot_Form)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Preparation_Time)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Preparation_Time)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Specific_Instruction_For_Preparation)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Specific_Instruction_For_Preparation)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Sex)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Sex)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Attach_Graph)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Attach_Graph)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Update_All)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Update_All)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsHide)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsHide)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.GlocusePP)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GlocusePP)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ParametersList)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ParametersList)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Parameter)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Parameter)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Department1.Department1)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Department1.Department1)
                    </dd>*@

                </dl>

                @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-sm btn-primary" /> |
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>

                </div>
}
            </div>
        </div>
</div>

           
