@model PagedList.IPagedList<CaresoftHMISDataAccess.CreditTransfer>
@{
    ViewBag.Title = "ChargeInterest";
    Layout = "~/Areas/Accounting/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTopMenu = true;

}

<div class="col-md-2">
    @Html.Partial("~/Areas/Accounting/Views/Shared/CreditorsOperationsLeftPanel.cshtml")
</div>
<div class="col-md-7">

    <div class="">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                Charge Debtor Interest
            </div>
            <div class="panel-body">
                <form>

                    <div class="col-md-12">


                        <table class="table-form">
                            @if (Session["StartDate"] != null && Session["ToDate"] != null)
                            {
                                DateTime fromDate = (DateTime)Session["StartDate"];
                                DateTime toDate = (DateTime)Session["ToDate"];

                                <tr>
                                    <td>From Date</td>
                                    <td>
                                        <input type="date" id="fromDate" value="@fromDate.ToString("yyyy-MM-dd")" class="text-box" />
                                    </td>
                                    <td>To Date</td>
                                    <td>
                                        <input type="date" id="toDate" value="@toDate.ToString("yyyy-MM-dd")" class="text-box" />
                                    </td>
                                </tr>

                            }
                            else
                            {
                                <tr>
                                    <td>From Date</td>
                                    <td>
                                        <input type="date" id="fromDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="text-box" />
                                    </td>
                                    <td>To Date</td>
                                    <td>
                                        <input type="date" id="toDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="text-box" />
                                    </td>
                                </tr>
                            }

                            @if (Session["Debtor"] != null)
                            {
                                var suppliername = Session["Debtor"].ToString();

                                <tr>
                                    <td>Debtor Name</td>
                                    <td colspan="2">
                                        <input type="text" class="text-box" style="width:300px;" autocomplete="off" id="SupplierName" value="@suppliername" placeholder="Enter Supplier Name to search for invoice" />
                                    </td>
                                    <td>
                                        <div id="notifySupplier">
                                        </div>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>Debtor Name</td>
                                    <td colspan="2">
                                        <input type="text" class="text-box" style="width:300px;" autocomplete="off" id="SupplierName" placeholder="Enter Supplier Name to search for invoice" />
                                    </td>
                                    <td>
                                        <div id="notifySupplier">
                                        </div>
                                    </td>
                                </tr>
                            }



                        </table>
                        &nbsp;&nbsp;&nbsp;
                        <div id="InvoiceList">
                            <br />
                      

                        </div>

                    </div>

                    
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>


        $(window).on('load', function () {
            //$("#fromDate").datepicker({
            //    changeMonth: true,
            //    changeYear: true
            //});

            //$("#toDate").datepicker({
            //    changeMonth: true,
            //    changeYear: true
            //});
            Approve();
        })

        $("#SupplierName").keyup(function () {
            var supplierName = $(this).val().val();

            if (supplierName) {
                var url = "/Home/GetSupplierInvoiceApprovedDisapproved?supplierName=" + supplierName;

                $.ajax({
                    type: "POST",
                    url: url,
                    beforeSend: function () {

                    },
                    success: function (obj) {
                        $("#InvoiceList").empty();
                        $("#InvoiceList").append(obj);
                        Approve();
                    },
                    error: function (x, y, z) {
                        console.log(x.responseText);
                        Approve();
                    }
                });

            }
        })

        $("#fromDate").on('change', function () {
            var fromDate = $(this).val();
            var toDate = $("#toDate").val();

            var dates = { fromDate: fromDate, toDate: toDate };

            //console.log(dates);
            $.ajax({
                type: "POST",
                url: "/Accounting/Home/SearchByDebitDates",
                data: dates,
                beforeSend: function () {
                    $(".loader").show();
                },
                success: function (obj) {
                    $("#InvoiceList").empty();
                    $("#InvoiceList").append(obj);
                    $(".loader").hide();
                    Approve();
                },
                error: function (x, y, z) {
                    console.log(x.responseText);
                    $(".loader").hide();
                    Approve();
                    $.notify("An Error Occured with the request", "error")
                }
            });

        })


        $("#toDate").on('change', function () {
            var fromDate = $("#fromDate").val();
            var toDate = $(this).val();

            var dates = { fromDate: fromDate, toDate: toDate };

            //console.log(dates);
            $.ajax({
                type: "POST",
                url: "/Home/GetDebit",
                data: dates,
                beforeSend: function () {
                    $(".loader").show();

                },
                success: function (obj) {
                    $("#InvoiceList").empty();
                    $("#InvoiceList").append(obj);
                    $(".loader").hide();
                    Approve();
                },
                error: function (x, y, z) {
                    console.log(x.responseText);
                    $(".loader").hide();
                    Approve();
                    $.notify("An Error Occured with the request", "error")
                }
            });

        })


        function Approve() {
            $(".approve").click(function () {

                var id = $(this).data('id');
                var url = "/Home/ApproveSpecificInvoice?id=" + id;

                $.ajax({
                    type: "POST",
                    url: url,
                    beforeSend: function () {
                        $(".loader").show();
                    },
                    success: function (obj) {
                        $("#InvoiceList").empty();
                        $("#InvoiceList").append(obj);
                        $(".loader").hide();
                        Approve();

                    },
                    error: function (x, y, z) {
                        console.log(x.responseText);
                        $(".loader").hide();
                    }

                });

            })
        }



    </script>

}