@model ProcurementDataAccess.Invoice
@{
    ViewBag.Title = "CreditorsAllocation";
    Layout = "~/Areas/Accounting/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTopMenu = true;
}

<div class="col-md-2">
    @Html.Partial("~/Areas/Accounting/Views/Shared/CreditorsOperationsLeftPanel.cshtml")
</div>
<div class="col-md-8">

    <div class="">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                Enter Debit Note
            </div>
            <div class="panel-body">
                <form id="family-planning" method="post" action="@Url.Action("SaveDebitNote", "Home")">
                    <div class="col-md-12">
                        <table class="table-form">


                            <tr>
                                <td>
                                    <label>Invoice Number</label>
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.InvoiceNo, new { htmlAttributes = new { @class = "text-box box-sm" } })
                                </td>
                                <td>
                                    <label>Supplier Name</label>
                                </td>
                                <td>
                                    <input type="text" class="text-box box-sm" name="SupplierName" id="SupplierName" readonly required />

                                </td>
                                <td>
                                    <label>Invoice Date</label>
                                </td>
                                <td>
                                    <input type="datetime" value="@DateTime.Now.ToString("MM/dd/yyyy")" class="text-box box-sm" name="InvoiceDate" id="InvoiceDate" readonly required />

                                </td>

                            </tr>
                            <td>&nbsp;</td>
                            <tr>
                                <td>
                                    <label>Amount</label>
                                </td>
                                <td>
                                    <input type="text" class="text-box box-sm" name="Amount" required />

                                </td>

                            </tr>

                        </table>
                        <table class="table-form">
                            <tr>
                                <td>
                                    <label> Debiting Reason</label>
                                    <textarea name="DebitingReason" rows="4" cols="60" class="text-box box-xlg" placeholder="Write Debiting Reason..."></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary bn-sm margin-top-bottom-2">Save</button>

                    </div>
                </form>

                <div id="nurseNotesList">
                    @Html.Partial("~/Areas/Accounting/Views/Home/_DebitNotes.cshtml")
                </div>
            </div>



        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        //$(document).ready(function () {
        //    alert();
        //    $("#InvoiceNo").autocomplete({

        //        source: function (request, res) {
        //            alert();
        //            $.ajax({

        //                type: "POST",
        //                url: "/Accounting/Home/SearchInvoice",

        //                dataType: "json",
        //                data: { Prefix: request.term },


        //                data: { search: $("#InvoiceNo").val() },
        //                success: function (data) {
        //                    res($.map(data, function (item) {
        //                        return {
        //                            label: item.InvoiceNo + "(" + item.SupplierName + ")",
        //                            value: item.InvoiceNo
        //                        }));
        //                },

        //                error: function (xmlhttprequest, textstatus, errorthrown) {
        //                    console.log(errorthrown, "danger")
        //                    console.log(xmlhttprequest.responseText);
        //                }

        //            });
        //        },

        //        messages: {
        //            noResults: "", results: ""

        //        }

        //    });
        //    $("#invoice").on("autocompleteselect", function (event, ui) {
        //        $("#RPatientName").val(ui.item.name);
        //        $("#PatientId").val(ui.item.patientId);
        //        $("#OpdNum").val(ui.item.OpdId);



        //        console.log(ui);


        //    });
        //});



















        $(document).ready(function () {
            $("#InvoiceNo").autocomplete({
                source: function (request, response) {

                    $.ajax({
                        url: "/Accounting/Home/SearchInvoice",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        data: { search: $("#InvoiceNo").val() },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.InvoiceNo + "(" + item.SupplierName + ")",
                                    //                            value: item.InvoiceNo,
                                    value: item.InvoiceNo, SupplierName: item.SupplierName, InvoiceDate: item.InvoiceDate
                                };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""

                }

            });

            $("#InvoiceNo").on("autocompleteselect", function (event, ui) {
                alert(ui.item.InvoiceDate);
                $('#SupplierName').val(ui.item.SupplierName);
                $('#InvoiceDate').val(ui.item.InvoiceDate);
                $("#TPatientId").val(ui.item.patientId);
                $("#TOPDNo").val(ui.item.OpdId);



                console.log(ui);


            });

        })
    </script>


}