<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <title>@ViewBag.Title</title>
    @{var companyName = "we"; var marquee = ""; var EMRPaid = "#FEFE32"; var EMRRead = "#DFEDFD";  var EMRUnpaid = "#C20017"; var EMREmergency = "#90FF41"; }

    @{
        try
        {
            using (CaresoftHMISDataAccess.CaresoftHMISEntities entity = new CaresoftHMISDataAccess.CaresoftHMISEntities())
            {
                //TODO: initialize the colors outside the try block
                var primaryColor = entity.KeyValuePairs.FirstOrDefault(e => e.Key_.Equals("PrimaryColor")).Value;
                var primaryLightColor = entity.KeyValuePairs.FirstOrDefault(e => e.Key_.Equals("PrimaryLightColor")).Value;
                var primaryDarkColor = entity.KeyValuePairs.FirstOrDefault(e => e.Key_.Equals("PrimaryDarkColor")).Value;
                var accentColor = entity.KeyValuePairs.FirstOrDefault(e => e.Key_.Equals("AccentColor")).Value;
                var emergencyColor = entity.KeyValuePairs.FirstOrDefault(e => e.Key_.Equals("EmergencyColor")).Value;
                companyName = entity.KeyValuePairs.FirstOrDefault(e => e.Key_.Equals("FacilityName")).Value;
                marquee = entity.KeyValuePairs.FirstOrDefault(e => e.Key_.Equals("Marquee")).Value;
    <style>
                :root {
                     --outline-color: #009EE0;
                --accent-color: @accentColor;
                --primary-color: @primaryColor;
                --primary-light-color: @primaryLightColor;
                --primary-dark-color: @primaryDarkColor;
                --Emergency:@emergencyColor;

                    --EMRPaid: @entity.KeyValuePairs.FirstOrDefault(e => e.Key_.Equals("EMRPaid")).Value;
                     --EMRRead:@entity.KeyValuePairs.FirstOrDefault(e => e.Key_.Equals("EMRRead")).Value;
                    --EMRunread:@entity.KeyValuePairs.FirstOrDefault(e => e.Key_.Equals("EMRunread")).Value;
                     --EMRUnpaid: @entity.KeyValuePairs.FirstOrDefault(e => e.Key_.Equals("EMRUnpaid")).Value;
                     --EMREmergency: @entity.KeyValuePairs.FirstOrDefault(e => e.Key_.Equals("EMREmergency")).Value;
            }
    </style>


            }
        }
        catch (Exception e)
        {
            System.Diagnostics.Debug.WriteLine(e);
        }

    }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background:#fff;">
    
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2" style="box-shadow: 0 0 13px #333333; height:88vh; width:940px;">
            <div class="row" style="border-bottom:3px solid #009EE0; padding-bottom:1em;">
                <table width="100%">
                    <tr>
                        <td id="company-logo-1">
                            <img src="~/Content/icons/Softcom-logo.png" />
                        </td>
                        <td id="company-name" style="text-transform:uppercase; color:#0099FF; font-family: Tahoma; font-size:24px; font-weight:700; white-space:normal">
                            @companyName
                        </td>
                        <td id="company-logo-2" align="right">
                            <img src="~/Content/icons/Coat_of_arms_of_Kenya.png" />
                            <br />
                            <p style="font-size:13px; float:right; padding:10px; color:#0099FF; font-family: Tahoma; white-space:normal"><strong>Caresoft v@{<span>@Session["Version"]</span>}</strong></p>
                        </td>
                    </tr>
                </table>
                @*<div class="col-xs-3" id="company-logo-1">
                    <img src="~/Content/icons/Softcom-logo.png" />
                </div>
                <div class="col-xs-6 text-center" id="company-name">
                    <h3>@companyName</h3>
                </div>
                <div class="col-xs-3 text-right" id="company-logo-2">
                    <img src="~/Content/icons/Coat_of_arms_of_Kenya.png" />
                </div>*@
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    
 

    @Html.Partial("_Footer")

   
    
    

   
    
   

  
 
    
   
    
   

    <div id="loadingElement" class="loader collapse">
        <img src="~/Content/icons/loader.gif" />
        <p><em>Please wait...</em></p>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Caresoft.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
