<table class="table-top-menu" width="100%">
    <tr style="background-color:#C1D8F9">
        <td data-href="@Url.Action("Setup")">
            | Mort. Setup
        </td>
        <td data-href="@Url.Action("Admission")">
            | Mort. Admission
        </td>

        <td data-href="@Url.Action("DeathRegister")">
            | Death Register
        </td>

        <td data-href="@Url.Action("DeathNotification")">
            | Death Notification
        </td>

        <td data-href="@Url.Action("MorgBilling")">
            | Mort. Billing
        </td>

        <td data-href="@Url.Action("BodyCollection")">
            | Body Collection
        </td>

        <td data-href="@Url.Action("PermitCollector")">
            | Permit Collector
        </td>


    </tr>
    
</table>

