@using PagedList.Mvc;

@model PagedList.IPagedList<Caresoft2._0.Areas.Procurement.Models.Invoice>

@{
    ViewBag.Title = "Approve Invoice";
    Layout = "~/Areas/Procurement/Views/Shared/_LayoutProcurement.cshtml";
}

<style>
    .text-box {
        margin-bottom: 7px;
    }

    .pagination {
        margin-top: 0px;
        padding-top: 0px;
    }
    .approved {
        color:hotpink;
    }
    .approved {
        color: hotpink;
    }

    .disapproved{
        color:aqua;
    }
</style>

<div class="col-md-8">
    <div class="panel panel-primary caresoft-panel" style="margin-top:10px">
        <div class="panel-heading custom-navbar">
            <p style="color:black;margin-left:10px;"><strong>Approve Invoice </strong></p>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table-form">
                        @if (Session["StartDate"] != null && Session["ToDate"] != null)
                        {
                            DateTime fromDate = (DateTime)Session["StartDate"];
                            DateTime toDate = (DateTime)Session["ToDate"];

                            <tr>
                                <td>From Date</td>
                                <td>
                                    <input type="date" id="fromDate" value="@fromDate.ToString("yyyy-MM-dd")" class="text-box" />
                                </td>
                                <td>To Date</td>
                                <td>
                                    <input type="date" id="toDate" value="@toDate.ToString("yyyy-MM-dd")" class="text-box" />
                                </td>
                            </tr>

                        }
                        else
                        {
                            <tr>
                                <td>From Date</td>
                                <td>
                                    <input type="date" id="fromDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="text-box" />
                                </td>
                                <td>To Date</td>
                                <td>
                                    <input type="date" id="toDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="text-box" />
                                </td>
                            </tr>
                        }

                        @if (Session["SupplierName"] != null)
                        {
                            var suppliername = Session["SupplierName"].ToString();

                            <tr>
                                <td>Supplier Name</td>
                                <td colspan="2">
                                    <input type="text" class="text-box" style="width:300px;" autocomplete="off" id="SupplierName" value="@suppliername" placeholder="Enter Supplier Name to search for invoice" />
                                </td>
                                <td>
                                    <div id="notifySupplier">
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>Supplier Name</td>
                                <td colspan="2">
                                    <input type="text" class="text-box" style="width:300px;" autocomplete="off" id="SupplierName" placeholder="Enter Supplier Name to search for invoice" />
                                </td>
                                <td>
                                    <div id="notifySupplier">
                                    </div>
                                </td>
                            </tr>
                        }

                            <tr>
                                <td>
                                    <i class="fa fa-square approved"></i> Approved
                                </td>
                                <td>
                                    <i class="fa fa-square disapproved"></i> Dis Approved
                                </td>
                            </tr>

                    </table>
                    <div id="InvoiceList">
                        <br />
                        @Html.Partial("~/Areas/Procurement/Views/ProcurementPurchase/_ApproveInvoice.cshtml", Model)

                        @if (ViewBag.SearchDates == true || ViewBag.SearchPagination == true)
                        {

                        }
                        else
                        {
                            <div id="pagination" class="col-md-12">
                                <br />
                                <div class="col-md-6 col-offset-3">
                                    <div class="pagination">
                                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                        of @Model.PageCount

                                        @Html.PagedListPager(Model, page => Url.Action("EditInvoice", new { page }))
                                    </div>
                                </div>

                            </div>
                        }

                    </div>
                    <div class="">
                        <a class="btn btn-primary btn-sm" href="/ProcurementPurchase/AddNewInvoice"> Add New Invoice</a>
                        <a class="btn btn-primary btn-sm" href="/ProcurementPurchase/SupplierWiseInvoiceReport"> Supplier Wise Invoice Report</a>
                        <a class="btn btn-primary btn-sm" href="/ProcurementPurchase/PurchaseWiseInvoiceReport"> Purchase Wise invoice Report</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>


        $(window).on('load', function () {
            //$("#fromDate").datepicker({
            //    changeMonth: true,
            //    changeYear: true
            //});

            //$("#toDate").datepicker({
            //    changeMonth: true,
            //    changeYear: true
            //});
            Approve();
        })

        $("#SupplierName").keyup(function ()
       {
            var supplierName = $(this).val().val();

            if (supplierName)
            {
                var url = "/ProcurementPurchase/GetSupplierInvoiceApprovedDisapproved?supplierName=" + supplierName;

                $.ajax({
                    type: "POST",
                    url: url,
                    beforeSend: function () {

                    },
                    success:function(obj)
                    {
                        $("#InvoiceList").empty();
                        $("#InvoiceList").append(obj);
                        Approve();
                    },
                    error:function(x, y, z)
                    {
                        console.log(x.responseText);
                        Approve();
                    }
                });

            }
        })

        $("#fromDate").on('change', function () {
            var fromDate = $(this).val();
            var toDate = $("#toDate").val();

            var dates = { fromDate: fromDate, toDate: toDate };

            //console.log(dates);
            $.ajax({
                type: "POST",
                url: "/ProcurementPurchase/SearchByDatesInvoiceApprovedDisapproved",
                data: dates,
                beforeSend: function () {
                    $(".loader").show();
                },
                success: function (obj) {
                    $("#InvoiceList").empty();
                    $("#InvoiceList").append(obj);
                    $(".loader").hide();
                    Approve();
                },
                error: function (x, y, z) {
                    console.log(x.responseText);
                    $(".loader").hide();
                    Approve();
                    $.notify("An Error Occured with the request","error")
                }
            });

        })


        $("#toDate").on('change',function () {
            var fromDate = $("#fromDate").val();
            var toDate = $(this).val();

            var dates = { fromDate: fromDate, toDate: toDate };

            //console.log(dates);
            $.ajax({
                type: "POST",
                url: "/ProcurementPurchase/SearchByDatesInvoiceApprovedDisapproved",
                data: dates,
                beforeSend: function () {
                    $(".loader").show();

                },
                success: function (obj) {
                    $("#InvoiceList").empty();
                    $("#InvoiceList").append(obj);
                    $(".loader").hide();
                    Approve();
                },
                error: function (x, y, z) {
                    console.log(x.responseText);
                    $(".loader").hide();
                    Approve();
                    $.notify("An Error Occured with the request", "error")
                }
            });

        })


        function Approve() {
            $(".approve").click(function () {

                var id = $(this).data('id');
                var url = "/ProcurementPurchase/ApproveSpecificInvoice?id=" + id;

                $.ajax({
                    type: "POST",
                    url: url,
                    beforeSend: function () {
                        $(".loader").show();
                    },
                    success: function (obj) {
                        $("#InvoiceList").empty();
                        $("#InvoiceList").append(obj);
                        $(".loader").hide();
                        Approve();

                    },
                    error: function (x, y, z) {
                        console.log(x.responseText);
                        $(".loader").hide();
                    }
                
                });

            })
        }
        


    </script>

}
