@model IEnumerable<CaresoftHMISDataAccess.MCHMedicalAndSergicalHistory>


@{
    
}

<table class="table table-caresoft table-condensed">
    <thead>
        <tr style="width:auto">
            <td style="color:fuchsia">OPD No</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>


            <th style="color:fuchsia">User</th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>

            <th style="color:fuchsia; font-family:Calibri; font:16px">Date Of Visit</th>


        </tr>
    </thead>
    <tbody class="bg-white">

        @foreach (var a in Model.OrderByDescending(a => a.Id))
        {
            <tr style="width:auto">
                <td>@a.OPDNo</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>

                <td>@a.UserId</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td style="color:crimson">@a.DateAdded</td>


            </tr>
        }

    </tbody>

    <td>&nbsp;</td>
    <thead>
        <tr style="width:auto">
            <td>&nbsp;</td>
            <th>Sergical Operations</th>
            <th>Diabetes</th>
            <th>Hypertension</th>
            <th>Blood Transfusion</th>
            <th>TB</th>
            <th>Drug Allergy</th>
            <th>Other</th>
            <th>Twins</th>
        </tr>
    </thead>
    <tbody class="bg-white">
        @foreach (var e in Model.OrderByDescending(e => e.Id))
        {
        <tr style="background-color:chartreuse; width:auto">
            <td>&nbsp;</td>
            <td>@e.SergicalOperation</td>
            <td>@e.Diabetes</td>
            <td>@e.Hypertension</td>
            <td>@e.BloodTransfusion</td>
            <td>@e.Tuberculosis</td>
            <td>@e.DrugAllergy</td>
            <td>@e.Other</td>
            <td>@e.FamilyTwinsHistory</td>
        </tr>
        }
    </tbody>
</table>
  
