@model LabsDataAccess.Test_Turn_Around_Times

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Test_Turn_Around_Times</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Test)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TTAT_Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TTAT_Days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TTAT_Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TTAT_Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RDD_Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RDD_Days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RDD_Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RDD_Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vial_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vial_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.srno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.srno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.srno1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.srno1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentRadPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentRadPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
