@model Caresoft2._0.CustomData.WardsMasterData
@{
    ViewBag.Title = "Ward Master";
    ViewBag.FormName = ViewBag.Title;
    Layout = "~/Views/Shared/_MasterForms.cshtml";
    
}
    <form id="new-bed-form" method="post">
        <table class="table-form">
           
            <tr>
                <td><label>Building Name</label></td>
                <td>
                    <select class="text-box box-lg" id="HS-building" name="">
                        @foreach (var building in Model.Buildings)
                        {
                            <option value="@building.Id">@building.BuildingName</option>
                        }
                    </select>
                </td>
                <td><label>Floor Name</label></td>
                <td>
                    <select class="text-box box-lg" id="FloorId" name="FloorId" required>
                        @foreach (var floor in Model.Buildings.FirstOrDefault().HSFloors)
                        {
                            <option value="@floor.Id">@floor.FloorName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Ward Name</label></td>
                <td>
                    <select class="text-box box-lg" id="WardId" name="WardId">
                       @foreach (var ward in Model.Buildings.FirstOrDefault().HSFloors.FirstOrDefault().HSWards)
                       {
                           <option value="@ward.Id">@ward.WardName</option>
                       }
                    </select>
                </td>
                <td><label>Bed Name</label></td>
                <td><input type="text" class="text-box box-lg" id="BedName" name="BedName" required/></td>
            </tr>

            <tr>
                <td><input type="submit" class="btn btn-sm btn-primary" value="Add" /></td>
            </tr>
        </table>
    </form>
    
    
<div id="beds-list">
    @if (Model.Buildings.FirstOrDefault().HSFloors.FirstOrDefault().HSWards.FirstOrDefault().HSBeds.ToList() != null)
    {
        @Html.Partial("BedsList", Model.Buildings.FirstOrDefault().HSFloors.FirstOrDefault().HSWards.FirstOrDefault().HSBeds.ToList())
    }
    
</div>
    
@section scripts{
    <script>
        $("#HS-building").on("change", function () {
            var buildingId = $(this).val();
            if ($.isNumeric(buildingId)) {
                var url = '@Url.Action("GetFloors", "Wards", new { id = -1})';
                url = url.replace('-1', buildingId);
                $.ajax({
                    method: 'post',
                    url: url,
                    success: function(result) {
                        $("#FloorId").html(result);
                    }
                });
            }
        });
        
        $("#FloorId").on("change", function () {
            var floorId = $(this).val();
            if ($.isNumeric(floorId)) {
                var url = '@Url.Action("GetFWards", "Wards", new { id = -1})';
                url = url.replace('-1', floorId);
                $.ajax({
                    method: 'post',
                    url: url,
                    success: function(result) {
                        $("#WardId").html(result);
                    }
                });
            }
        });
        
        $("#WardId").on("change", function () {
            var wardId = $(this).val();
            if ($.isNumeric(wardId)) {
                var url = '@Url.Action("BedList", "Wards", new { id = -1})';
                url = url.replace('-1', wardId);
                $.ajax({
                    method: 'get',
                    url: url,
                    success: function(result) {
                        $("#beds-list").html(result);
                    }
                });
            }
        });

        
        $("#new-bed-form").submit(function (e) {

            e.preventDefault();
            if ($(this).valid()) {
                $(".loader").show();
                var data = $(this).serialize();
                $.ajax({
                    method: 'post',
                    url: '@Url.Action("AddBed", "Wards")',
                    data:data,
                    success: function (result) {
                        $("#beds-list").html(result);
                        $(".loader").hide();
                        $("#BedName").val("");
                        
                    },
                    error: function (e, x, r) {
                        $(".loader").hide();
                        console.log(e.responseText);
                    }
                });
            }



        });
    </script>    
}