@model IEnumerable<CaresoftHMISDataAccess.AdmissionRecommendation>
@{
    ViewBag.IsNurse = true;
}
<table class="table table-data  table-condensed">
    <thead>
        <tr>
            <th>Select</th>
            <th>Reg No</th>
            <th>IPD&nbsp;No</th>
            <th>Patient Name</th>
            
            <th>Recommended By</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody class="bg-white">
        @foreach (var rm in Model.Where(e=>e.Status=="Pending"))
        {
            var pat = rm.OpdRegister;
            <tr>
                <td>
                    <button class="call-modal-form btn btn-xs btn-primary" data-action="@Url.Action("RecommendAdmissionForm", "EMR", new { id= pat.Id , stage="final"})" data-callback="admissionRecommendationFormFunction" type="button">
                        Admit
                    </button>
                </td>
                <td>@pat.Patient.RegNumber</td>
                <td>@pat.Id.ToString().PadLeft(4, '0')</td>
                <td>
                    @pat.Patient.Salutation
                    @pat.Patient.FName
                    @pat.Patient.MName
                    @pat.Patient.LName
                </td>
                
                <td>
                    @{var recomender = rm.User.Employee;}
                    @recomender.Salutation @recomender.FName @recomender.OtherName
                </td>
                <td>
                    @rm.TimeAdded.ToShortDateString()
                </td>
            </tr>
        }
    </tbody>
</table>