@model IEnumerable<CaresoftHMISDataAccess.OpdRegister>
    @{ 
        ViewBag.IsNurse = true;
    }
<table class="table table-data  table-condensed" >
    <thead>
        <tr>
            <th>Select</th>
            <th>Reg No</th>
            <th>IPD&nbsp;No</th>
            <th>Patient Name</th>
            <th>Doctor Incharge</th>
            <th>Entry Date</th>
            <th>Recommended By</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody class="bg-white">
        @foreach (var pat in Model)
        {
            <tr>
                <td>
                   <button class="btn btn-xs btn-primary" type="button" onclick="dischargeMe(@pat.Id, this)">
                       Discharge
                   </button>
                </td>
                <td>@pat.Patient.RegNumber</td>
                <td>@pat.Id.ToString().PadLeft(4, '0')</td>
                <td>
                    @pat.Patient.Salutation
                    @pat.Patient.FName
                    @pat.Patient.MName
                    @pat.Patient.LName
                </td>
                <td>
                    @pat.ConsultantDoctor
                </td>
                <td>
                    @if (pat.AdmissionDate != null)
                     {
                        @pat.AdmissionDate.Value.ToShortDateString()
                     }
                   
                </td>
                <td>
                    @{var recomender = pat.DischargeRecommendations.FirstOrDefault(e => e.Status.ToLower().Trim().Equals("pending")).User.Employee;}
                    @recomender.Salutation @recomender.FName @recomender.OtherName
                </td>
                <td>@pat.DischargeRecommendations.FirstOrDefault(e => e.Status.ToLower().Trim().Equals("pending")).Remarks</td>
            </tr>
        }
    </tbody>
</table>