@model LabsDataAccess.Department
@using LabsDataAccess
@{
    ViewBag.Title = "Radiology";
    ViewBag.ShowTopMenu = true;
    Layout = "~/Areas/Radiology/Views/Shared/_LayoutRadiology.cshtml";
}

@{var action = "AddDepartment";}


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <i class="fa fa-warning" style="color:red;"></i>

                    Warning!
                </h4>
            </div>
            <div class="modal-body">
                <input class="form-control input-sm invisible" id="ID" type="text">
                <p>Are you sure you want to delete this department</p>
                <p id="model-error"></p>
                <p id="modal-message">

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default  btn-sm" data-dismiss="modal">Close</button>
                <button id="conf-delete" type="button" class="btn btn-default btn-sm" data-dismiss="modal">Delete</button>
            </div>
        </div>

    </div>
</div>

<div class="col-xs-offset-3 col-xs-6 CustomLabel">
    <div class="panel panel-primary caresoft-panel">

        <div class="panel-heading">
            Add/ Edit Department
        </div>
        <div class="panel-body">

            @using (Html.BeginForm(@action, "SetUp", FormMethod.Post, new { id = "department-form" }))
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Please attend the Following</h4>
                <h4 id="error-page"></h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group hidden">
                    <div class="col-xs-9 col-xs-offset-3">
                        @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "text-box" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Main_Department, htmlAttributes: new { @class = "col-xs-3" })
                    <div class="col-xs-9">
                        @Html.DropDownListFor(model => model.Main_Department, ViewBag.Main_Department as IEnumerable<SelectListItem>, new { @class = "text-box box-lg" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Department", htmlAttributes: new { @class = " col-xs-3" })
                    <div class="col-xs-9">
                        @Html.EditorFor(model => model.Department1, new { htmlAttributes = new { @class = "text-box", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Department1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Department_Code, htmlAttributes: new { @class = " col-xs-3" })
                    <div class="col-xs-9">
                        @Html.EditorFor(model => model.Department_Code, new { htmlAttributes = new { @class = "text-box", @required= "required" } })
                        @Html.ValidationMessageFor(model => model.Department_Code, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Department_Order_No, htmlAttributes: new { @class = " col-xs-3" })
                    <div class="col-xs-9">
                        @Html.EditorFor(model => model.Department_Order_No, new { htmlAttributes = new { @class = "text-box" } })
                        @Html.ValidationMessageFor(model => model.Department_Order_No, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Modality, htmlAttributes: new { @class = " col-xs-3" })
                    <div class="col-xs-9">
                        @Html.EditorFor(model => model.Modality, new { htmlAttributes = new { @class = "text-box" } })
                        @Html.ValidationMessageFor(model => model.Modality, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = " col-xs-3" })
                    <div class="col-xs-9">
                        @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "textarea" } })
                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Profile_Department, htmlAttributes: new { @class = "control-label col-xs-2" })
                    <div class="col-xs-7 col-xs-offset-1">
                         @Html.EditorFor(model => model.Profile_Department)
                            @Html.ValidationMessageFor(model => model.Profile_Department, "", new { @class = "text-danger" })
                    </div>
                </div>
               
                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-9">
                        <input id="add" type="submit" value="Add" class="btn btn-primary btn-sm" />
                        <input id="update" type="button" value="New" class="btn btn-primary btn-sm" />
                    </div>
                </div>
            </div>
            }
            <div>
                <div id="DepartmentsList">

                </div>
            </div>
            

        </div>
    </div>
</div>


@section scripts{
<script>

        var data;

        $('#sendData').click(function () {
            $('#response').html("<b>Loading response...</b>");

            data = $('form').serializeObject();

            var MainDeps = [];

            var files = $("#SingatureImage").get(0).files;
            if (files.length > 0) {
                //data.SignatureImage = files[0];
            }

            $('.main-departments input[type=checkbox]').each(function () {
                if ($(this).is(":checked")) {
                    MainDeps.push($(this).val());

                }
            });

            data.MainDepartments = MainDeps;

            $.ajax({
                type: "POST",
                cache: false,
                url: "/Radiology/SetUp/AssignNewDepartment/",
                data: data,    // multiple data sent using ajax
                success: function (html) {
                    $('#loading').html("<b>Loading response...</b>");


                }
            });
            return false;
        });

        $('.findDepData').click(function () {
            $('#response').html("<b>Loading response...</b>");

            data = $('form').serializeObject();

            var MainDeps = [];

            var files = $("#SingatureImage").get(0).files;
            if (files.length > 0) {
                //data.SignatureImage = files[0];
            }

            $('.main-departments input[type=checkbox]').each(function () {
                if ($(this).is(":checked")) {
                    MainDeps.push($(this).val());

                }
            });

            data.MainDepartments = MainDeps;



            console.log(data);
            $.ajax({
                type: "POST",
                cache: false,
                url: "/Radiology/SetUp/AssignNewDepartment/",
                data: data,    // multiple data sent using ajax
                success: function (html) {
                    $('#loading').html("<b>Loading response...</b>");


                }
            });
            return false;
        });


        $(function () {
            loadList();
        });

    function loadList() {
        $.ajax({
            type: "GET",
            cache: false,
            url: "/Radiology/SetUp/Departments/",
            data: data,    // multiple data sent using ajax
            success: function (html) {
                $('#DepartmentsList').html(html);
                listener();
            }
        });
    };


    function listener() {
        $('.findDepData').each(function () {

            $(this).click(function (e) {

                e.preventDefault();
                getDepData($(this).attr("data-Id"));
            });

        });

        $('.findDepDataDel').each(function () {

            $(this).click(function (e) {

                e.preventDefault();
                getDepData2($(this).attr("data-Id"));
            });

        });
    };




    function getDepData(id) {
        $('.loader').show();

        $.ajax({
            type: "GET",
            cache: false,
            url: "/Radiology/SetUp/EditDepartment?Id=" + id,
            data: data,    // multiple data sent using ajax
            success: function (data) {
                $('.loader').hide();

                $("#add").val("Update");
                $("#department-form").attr("action", "/Radiology/SetUp/EditDepartment");
                
                $("#add").val("Update");

                populateMyView(data, "#department-form");

            },
            error: function () {
                $('#error-page').html('<div class="alert alert-warning"><strong> Warning!</strong > An Error Occured while deleting the item, Try again another time. If the problem persist contact admin.</div >');
                $('.loader').hide();
            }
        });
    };

    function getDepData2(id) {
        $('.loader').show();

        $.ajax({
            type: "GET",
            cache: false,
            url: "/Radiology/SetUp/EditDepartment?Id=" + id,
            data: data,    // multiple data sent using ajax
            success: function (data) {
                $("#ID").val(data.Id);
                $('.loader').hide();

                $('#myModal').modal({
                    backdrop: 'static',
                    keyboard: false
                })

                $("#add").val("Update");
                $("#department-form").attr("action", "/Radiology/SetUp/EditDepartment");

                $('#modal-message').text("");
                $.each(data, function (key, value) {

                    $('<div/>', {
                        'class': 'myClass',
                        'html': '<span><b>' + key + '</b></span>' + ' :::::::>>> ' + '<span>' + value + '</span>'
                    }).appendTo('#modal-message');
                });

                openModal();
            },
            error: function () {
                $('#error-page').html('<div class="alert alert-warning"><strong> Warning!</strong > An Error Occured while deleting the item, Try again another time. If the problem persist contact admin.</div >');
                $('.loader').hide();
            }
        });
    };

    function openModal() {
        

        $('model-button').click();
    };

 
    function populateMyView(data, formId) {
        $.each(data, function (key, value) {
            $(formId).find("input[name=" + key + "]").val(value);

        });

    };
  
    $('#update').click(function () {
        $('#department-form')[0].reset();
        $("#department-form").attr("action", "/Radiology/SetUp/AddDepartment");
        $("#add").val("Add");


    });

    $('#conf-delete').click(function () {
        $('.loader').show();
        $.ajax({
            type: "POST",
            cache: false,
            url: "/Radiology/SetUp/DeleteDepartment?Id=" + $('#ID').val(),
            success: function (data) {
                $('.loader').hide();

                if (data === 1) {
                    $('#myModal').modal('toggle');

                } else {
                    $('#error-page').html('<div class="alert alert-warning"><strong> Warning!</strong > An Error Occured while deleting the item, Try again another time. If the problem persist contact admin.</div >');
                }
            },
            error: function () {
                $('#error-page').html('<div class="alert alert-warning"><strong> Warning!</strong > An Error Occured while deleting the item, Try again another time. If the problem persist contact admin.</div >');
                $('.loader').hide();
            }
        });
    });


</script>


}
