@model IEnumerable<LabsDataAccess.ReasonMaster>

    <table class="table table-bordered table-condensed">
        <thead class="bg-primary">
            <tr class="table-primary">
                <th style="width:20px">Delete</th>
                <th>
                    @Html.DisplayNameFor(model => model.Reason)
                </th>

                <th style="width:50px">Edit</th>
            </tr>
        </thead>

        <tbody style="background:white">
            @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="form-check">
                    <input type="checkbox" name="@item.Id" class="form-check-input" id="@item.Id">
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>

            <td>
                @Html.ActionLink("Edit", "", new { id = item.Id }, new { @class = "edit", data_Id = item.Id, reason = item.Reason })
            </td>
        </tr>
}

        </tbody>
         
    </table>

