@model Caresoft2._0.CustomData.EMR_OPD_Data


@{
    var myProfile = new CaresoftHMISDataAccess.RenalPatientProfile();

    if (Model.OpdRegister.RenalPatientProfiles != null)
    {
        myProfile = Model.OpdRegister.RenalPatientProfiles
            .OrderByDescending(e => e.Id).FirstOrDefault();
    }

    var relationships = (List<CaresoftHMISDataAccess.Relationship>)ViewBag.Relationships;
    var maritals = (List<CaresoftHMISDataAccess.MaritalStatu>)ViewBag.Maritals;

    var tests = (List<CaresoftHMISDataAccess.MasterPostNatalTest>)ViewBag.MasterPostNatalTests;

    ViewBag.WideView = true;
    ViewBag.Title = "Patient Profile";
    ViewBag.ShowTopMenu = true;
    Layout = "~/Views/Shared/_EMRForms.cshtml";
}

<div class="panel panel-primary shadow glass caresoft-panel">
    <div class="panel-heading custom-navbar">
        <p>Patient Profile (First Visit)</p>
    </div>
    <style>
        input.box-sm {
            width: 120px
        }
    </style>
    <div class="panel-body">
        <form id="maternal_profile" method="post" action="@Url.Action("SavePatientProfile", "RenalHaemodialysis")">
            <input type="hidden" name="OPDNo" value="@Model.OpdRegister.Id" />
            <fieldset>

                <table class="table-form marg-top-16px">
                    <tr>
                        <td>
                            <label for="Date">
                                Screening Date
                            </label>
                        </td>
                        <td>
                            <input name="ScreeningDate" required type="date" class="text-box box-lg" value="@DateTime.Today.ToString(" yyyy-MM-dd")" />
                        </td>
                        <td>
                            <label>
                                Treatment No
                            </label>
                        </td>
                        <td>
                            <input type="number" name="TreatmentNo" class="text-box box-lg" required />
                        </td>
                        <td>
                            <label>
                                Physician
                            </label>
                        </td>
                        <td>
                            <input type="text" name="Physician" class="text-box box-lg" required />
                        </td>
                    </tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <tr>
                        <td>
                            <label>Access</label>
                        </td>
                        <td>
                            <input type="text" name="Access" class="text-box box-lg" required />
                        </td>
                        <td>
                            <label>HIV/Hbs Ag</label>
                        </td>
                        <td>
                            <input type="text" name="HIVHbs" class="text-box box-lg" required />
                        </td>
                        <td>
                            <label>Blood Group</label>
                        </td>
                        <td>
                            <input type="text" name="BloodGroup" class="text-box box-lg" required />
                        </td>

                    </tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                    <tr>
                        <td>
                            <label>
                                Pre Dialysis Weight
                            </label>
                        </td>
                        <td>
                            <input type="number" name="PreDialysisWeight" class="text-box box-lg" required />
                        </td>
                        <td>
                            <label>
                                Target Weight
                            </label>
                        </td>
                        <td>
                            <input type="number" name="TargetWeight" class="text-box box-lg" required />
                        </td>



                    </tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>



                </table>
                <input type="submit" class="btn btn-sm btn-primary " value="Save" />

                @Html.ActionLink("Continue", "DialysisOrder", new { id = @Model.OpdRegister.Id }, new { @class="btn btn-primary btn-sm",
                @style = "background-color: inherit;float: right;border: none;outline: none;cursor: pointer;padding: 14px 16px;transition: 0.3s;"})



            </fieldset>

        </form>

        <div>
            @Html.Partial("PatientProfileList", Model.OpdRegister.RenalPatientProfiles)
        </div>

    </div>

</div>




@section scripts{
    <script>
        getRecentInfo();
        function getRecentInfo() {
            $.ajax({
                type: "GET",
                url: "/EMR/GetMostRecentPhysicalExam/"+@Model.Patient.Id,
                datatype: "html",
                success: function (result) {
                    $('#patient-recent-physical-info').html(result);
                }
            });
        }
    </script>
}
