@model Caresoft2._0.CustomData.DepartmentalRevenueData
@using System.Globalization
@{
  
    if (ViewBag.ToDate != null && ViewBag.FromDate!=null)
    {
        var fromDate = (DateTime)ViewBag.FromDate;
        var toDate = (DateTime)ViewBag.ToDate;

        ViewBag.Title = "DEPARTMENTAL WORKLOAD AGAINST REVENUE REPORT :"+ fromDate.ToString("dd-MMM-yyyy") + " To: " + toDate.ToString("dd-MMM-yyyy");
    }
    else
    {
        ViewBag.Title = "DEPARTMENTAL WORKLOAD AGAINST REVENUE REPORT : 01-Jan-2018 To: 31-Dec-2018";
    }

    Layout = "~/Views/Shared/_ReportsLayout.cshtml";
    ViewBag.Size = "A4";
    ViewBag.Orientation = "landscape";
}

<div class="col-md-8 col-md-offset-2">
    <form action="@Url.Action("DepartmentalWorkloadAgainstRevenue","Reports")" style="background:var(--primary-color)" class="hidden-print">
        @if (ViewBag.ToDate != null && ViewBag.FromDate != null)
        {
            var fromDate = (DateTime)ViewBag.FromDate;
            var toDate = (DateTime)ViewBag.ToDate;

            <label style="color:white"> From Date:</label><input type="date" class="text-box" value="@fromDate.ToString("yyyy-MM-dd")" style="margin:5px;" name="FromDate" />
            <label style="color:white"> To Date:</label> <input type="date" class="text-box" value="@toDate.ToString("yyyy-MM-dd")" style="margin:5px;" name="ToDate" />
            <input type="submit" class="btn btn-xs btn-primary" value="Filter Data" />
        }
        else
        {
            <label>From Date:</label><input type="date" class="text-box" value="@DateTime.Now.ToString("yyyy-MM-dd")" style="margin:5px;" name="FromDate" />
            <label>To Date:</label><input type="date" class="text-box" value="@DateTime.Now.ToString("yyyy-MM-dd")" style="margin:5px;" name="ToDate" />
            <input type="submit" class="btn btn-xs btn-primary" value="Filter Data" />
        }

    </form>
</div>


@if (Model.BillServices.Count() > 0)
{
    if (Model.Departments.Count() > 0)
    {
     <table class="table table-condensed" border="1">
        <thead>
            <tr class="report-title gray-hr-bottom">
                <th>No.</th>
                <th>Department</th>
                <th>Service</th>
                <th>Count</th>
                <th>Unit Price</th>
                <th>Expected Amt</th>
                <th>Actual Amt</th>
                <th>Variance</th>
                <th>Running Amt</th>
            </tr>           
        </thead>
        <tbody>
        @{var dc = 1; var gtQty = 0.0; var gtExAmt = 0.0; var gtAcAmt = 0.0; var gtV = 0.0; var rAmt = 0.0; }
        @foreach(var dept in Model.Departments)
        {
            var bs = Model.BillServices.Where(e => e.DepartmentId.Equals(dept.Id)).ToList();
            <tr>
                <td>@dc</td>
               
                <td>@dept.DepartmentName</td>
                <td>
                    @foreach (var distService in bs.Select(e => e.Service).Distinct())
                    {
                        @distService.ServiceName <br />
                    }
                </td>
                <td>
                    @foreach (var distService in bs.Select(e => e.Service).Distinct())
                    {
                        @distService.BillServices.Sum(e => e.Quatity) <br />
                    }
                </td>
                <td>
                    @foreach (var distService in bs.Select(e => e.Service).Distinct())
                    {
                        @distService.CashPrice <br />
                    }
                </td>
                <td>
                    @{var totalExpected = 0.0;}
                    @foreach (var distService in bs.Select(e => e.Service).Distinct())
                    {
                        var exp = distService.CashPrice * distService.BillServices.Sum(e => e.Quatity);
                        @exp<br />
                        totalExpected += exp;

                    }
                </td>
                <td>
                    @foreach (var distService in bs.Select(e => e.Service).Distinct())
                    {
                        @distService.BillServices.Sum(e => (e.Quatity * e.Price)) <br />
                    }
                </td>
                <td>
                    @{var totalVariance = 0.0;}
                   
                    @foreach (var distService in bs.Select(e => e.Service).Distinct())
                    {
                        var variance = (distService.CashPrice * distService.BillServices.Sum(e => e.Quatity))
                            - (distService.BillServices.Sum(e => (e.Quatity * e.Price)));
                        @variance<br />
                        totalVariance += variance;
                    }
                </td>
                <td>
                   
                    @foreach (var distService in bs.Select(e => e.Service).Distinct())
                    {
                        @(rAmt += distService.BillServices.Sum(e => (e.Quatity * e.Price)))<br />
                    }
                </td>   
            </tr>
            <tr class="report-title gray-hr-bottom">
                <th colspan="3" align="right" class="text-right">Total</th>
                <th>
                    @{
                        var qty = bs.Where(e => e.DepartmentId.Equals(dept.Id)).Sum(s => s.Quatity);
                        gtQty += qty;
                        }

                </th>
                <th></th>
                <th>@totalExpected @{gtExAmt += totalExpected;}</th>
                <th>@{var sActual = bs.Where(e => e.DepartmentId.Equals(dept.Id))
                        .Sum(s => (s.Quatity * s.Price)); @sActual} @{gtAcAmt += sActual;} </th>
                <th>@totalVariance @{gtV += totalVariance;}</th>
                <th>@rAmt</th>
            </tr>
            
            dc++;
        }
        </tbody>
         <tfoot>
             <tr class="report-title gray-hr-bottom">
                 <th colspan="3" align="right" class="text-right">Grand Total</th>
                 <th>
                     @gtQty
                 </th>
                 <th></th>
                 <th>@gtExAmt</th>
                 <th>@gtAcAmt</th>
                 <th>@gtV</th>
                 <th>@rAmt</th>
             </tr>
         </tfoot>
    </table>
                
    }
    else
    {
    <h4>No Departments Data Found!</h4>
    }
    }
    else
    {
    <h4>No Revenue Data Found!</h4>
    }
