@model Caresoft2._0.CustomData.EmployeeData2
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_UserManagementLayout.cshtml";


    AjaxOptions ajaxOptions = new AjaxOptions
    {
        OnBegin = "OnBeginMethod",
        OnSuccess = "OnSuccessMethod",
        OnFailure = "OnFailureMethod",
        OnComplete = "OnCompleteMethod",
        UpdateTargetId = "employees-list"

    };
}

<div class="row">
    <div class="">
        <div class="panel panel-primary caresoft-panel" >
            <div class="panel-heading">
                Add New Employee
            </div>
            <div class="panel-body">

                @using (Ajax.BeginForm(ajaxOptions))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <table class="table-form">
                        <tr style="">
                            <td class="table-content">
                                @Html.LabelFor(model => model.Employee.RollNo, htmlAttributes: new { @class = "control-label " })

                            </td>
                            <td>
                                @Html.EditorFor(model => model.Employee.RollNo, new { htmlAttributes = new { @class = "text-box", @required = true, @style = "width:70%" } })
                                @Html.ValidationMessageFor(model => model.Employee.RollNo, "", new { @class = "text-danger" })
                            </td>
                            <td class="table-content">
                                @Html.LabelFor(model => model.Employee.Salutation, htmlAttributes: new { @class = "control-label " })
                            </td>
                            <td>
                                <select class="text-box" id="Employee_Salutation" name="Employee.Salutation" style="width:12.5em" required>
                                    <option>Select Salutation</option>
                                    <option>Mr</option>
                                    <option>Mrs</option>
                                    <option>Miss</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.Employee.Salutation, "", new { @class = "text-danger" })
                            </td>

                            <td>
                                @Html.LabelFor(model => model.Employee.FName, htmlAttributes: new { @class = "control-label " })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Employee.FName, new { htmlAttributes = new { @class = "text-box", @required = true } })
                                @Html.ValidationMessageFor(model => model.Employee.FName, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.LabelFor(model => model.Employee.OtherName, htmlAttributes: new { @class = "control-label " })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Employee.OtherName, new { htmlAttributes = new { @class = "text-box", @required = true } })
                                @Html.ValidationMessageFor(model => model.Employee.OtherName, "", new { @class = "text-danger" })
                            </td>

                        </tr>

                        <tr style="margin:1em">
                            <td>
                                @Html.LabelFor(model => model.Employee.Gender, htmlAttributes: new { @class = "control-label " })
                            </td>
                            <td>
                                <select name="Employee.Gender" id="Employee_Gender" class="text-box" style="width:70%" required>
                                    <option>Select Gender</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.Employee.Gender, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.LabelFor(model => model.Employee.DOB, htmlAttributes: new { @class = "control-label " })
                            </td>
                            <td>
                                <input type="date" name="Employee.DOB" id="Employee_DOB" class="text-box" style="width:12.5em" required />

                                @Html.ValidationMessageFor(model => model.Employee.DOB, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.LabelFor(model => model.Employee.IdNo, htmlAttributes: new { @class = "control-label " })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Employee.IdNo, new { htmlAttributes = new { @class = "text-box", @required = true } })
                                @Html.ValidationMessageFor(model => model.Employee.IdNo, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.LabelFor(model => model.Employee.Mobile, htmlAttributes: new { @class = "control-label " })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Employee.Mobile, new { htmlAttributes = new { @class = "text-box", @required = true } })
                                @Html.ValidationMessageFor(model => model.Employee.Mobile, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr style="margin:1em">
                            <td>
                                @Html.LabelFor(model => model.Employee.Email, htmlAttributes: new { @class = "control-label " })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Employee.Email, new { htmlAttributes = new { @class = "text-box", @email = true, @style = "width:70%" } })
                                @Html.ValidationMessageFor(model => model.Employee.Email, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.LabelFor(model => model.Employee.Designation, htmlAttributes: new { @class = "control-label " })
                            </td>
                            <td>
                                <select name="Employee.DesignationId" id="Employee_Designation" class="text-box" style="width:12.5em" required>
                                    <option>Select Designation</option>
                                    @foreach (var des in Model.DesignationsList)
                                    {
                                        <option value="@des.Id">@des.DesignationName</option>
                                    }

                                </select>
                            </td>
                            <td>
                                <label class="control-label">Department</label>

                            </td>

                            <td>
                                <select name="Employee.DepartmentId" id="Employee_Department" class="text-box" style="width:12.5em" required>
                                    <option>Select Department</option>
                                    @foreach (var dept in ViewBag.LstDepartments)
                                    {
                                        <option value="@dept.Id">@dept.DepartmentName</option>
                                    }
                                </select>
                            </td>

                        </tr>
                        <tr style="margin:1em">
                            <td colspan="7"></td>
                            <td align="left" id="btn-progress-area">
                                <input type="reset" class="btn btn-primary btn-sm" value="Cancel" />
                                <input type="submit" class="btn btn-primary btn-sm" value="Save Entry " />
                            </td>
                        </tr>
                        <tr align="left">
                            <td colspan="7"></td>
                            <td>
                                <label id="labelAjaxStatus" class="alert-warning"></label>
                            </td>
                        </tr>

                    </table>

                }

                <!--added a partial view to render the list of employees-->
                <div class="form-group" style="width:100%; overflow-x:scroll;">
                    <div id="employees-list">
                        @Html.Partial("_Employees", Model.Employess)
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



                @*<!--MODAL FOR EDITING USER INFO-->
                <!-- Modal -->
                <div id="EditModal" class="modal modal-content modal-lg" role="dialog">

                    <div class="modal-dialog caresoft-panel">
                        <div class="panel panel-primary shadow glass caresoft-panel">
                            <div class="panel-heading ">
                                Edit User Information for:
                            </div>

                            <div class="panel-body ">
                                <table class="table-form">
                                    <tr style="margin-bottom:100px">
                                        <td>
                                            @Html.LabelFor(model => model.Employee.RollNo, htmlAttributes: new { @class = "control-label " })

                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.Employee.RollNo, new { htmlAttributes = new { @class = "text-box", @required = true } })
                                            @Html.ValidationMessageFor(model => model.Employee.RollNo, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.LabelFor(model => model.Employee.Salutation, htmlAttributes: new { @class = "control-label " })
                                        </td>
                                        <td>
                                            <select class="text-box" id="Employee_Salutation" name="Employee.Salutation" style="width:12.5em" required>
                                                <option>Select Salutation</option>
                                                <option>Mr</option>
                                                <option>Mrs</option>
                                                <option>Miss</option>
                                            </select>
                                            @Html.ValidationMessageFor(model => model.Employee.Salutation, "", new { @class = "text-danger" })
                                        </td>

                                        <td>
                                            @Html.LabelFor(model => model.Employee.FName, htmlAttributes: new { @class = "control-label " })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.Employee.FName, new { htmlAttributes = new { @class = "text-box", @required = true } })
                                            @Html.ValidationMessageFor(model => model.Employee.FName, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.LabelFor(model => model.Employee.OtherName, htmlAttributes: new { @class = "control-label " })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.Employee.OtherName, new { htmlAttributes = new { @class = "text-box", @required = true } })
                                            @Html.ValidationMessageFor(model => model.Employee.OtherName, "", new { @class = "text-danger" })
                                        </td>

                                    </tr>

                                    <tr style="margin:1em">
                                        <td>
                                            @Html.LabelFor(model => model.Employee.Gender, htmlAttributes: new { @class = "control-label " })
                                        </td>
                                        <td>
                                            <select name="Employee.Gender" id="Employee_Gender" class="text-box" style="width:12.5em" required>
                                                <option>Select Gender</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                            @Html.ValidationMessageFor(model => model.Employee.Gender, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.LabelFor(model => model.Employee.DOB, htmlAttributes: new { @class = "control-label " })
                                        </td>
                                        <td>
                                            <input type="date" name="Employee.DOB" id="Employee_DOB" class="text-box" style="width:12.5em" required />

                                            @Html.ValidationMessageFor(model => model.Employee.DOB, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.LabelFor(model => model.Employee.IdNo, htmlAttributes: new { @class = "control-label " })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.Employee.IdNo, new { htmlAttributes = new { @class = "text-box", @required = true } })
                                            @Html.ValidationMessageFor(model => model.Employee.IdNo, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.LabelFor(model => model.Employee.Mobile, htmlAttributes: new { @class = "control-label " })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.Employee.Mobile, new { htmlAttributes = new { @class = "text-box", @required = true } })
                                            @Html.ValidationMessageFor(model => model.Employee.Mobile, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr style="margin:1em">
                                        <td>
                                            @Html.LabelFor(model => model.Employee.Email, htmlAttributes: new { @class = "control-label " })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.Employee.Email, new { htmlAttributes = new { @class = "text-box", @email = true } })
                                            @Html.ValidationMessageFor(model => model.Employee.Email, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            <label class="control-label">Designation</label>
                                            @Html.LabelFor(model => model.Employee.Designation, htmlAttributes: new { @class = "control-label " })
                                        </td>
                                        <td>
                                            <select name="Employee.DesignationId" id="Employee_Designation" class="text-box" style="width:12.5em" required>
                                                <option>Select Designation</option>
                                                @foreach (var des in Model.DesignationsList)
                                                {
                                                    <option value="@des.Id">@des.DesignationName</option>
                                                }

                                            </select>
                                        </td>
                                        <td>
                                            <label class="control-label">Department</label>

                                        </td>

                                        <td>
                                            <select name="Employee.DepartmentId" id="Employee_Department" class="text-box" style="width:12.5em" required>
                                                <option>Select Department</option>
                                                @foreach (var dept in ViewBag.LstDepartments)
                                                {
                                                    <option value="@dept.Id">@dept.DepartmentName</option>
                                                }
                                            </select>
                                        </td>

                                    </tr>
                                    <tr style="margin:1em">
                                        <td colspan="7"></td>
                                        <td align="left" id="btn-progress-area">
                                            <input type="reset" class="btn btn-default btn-sm" value="Cancel" />
                                            @*<input type="submit" id="ave-employee" class="btn btn-primary btn-sm" value="Save sdrkjg kEntry " />
                                        </td>
                                    </tr>
                                    <tr align="left">
                                        <td colspan="7"></td>
                                        <td>
                                            <label id="labelAjaxStatus" class="alert-warning"></label>
                                        </td>
                                    </tr>

                                </table>
                            </div>

                        </div>
                    </div>
                </div>*@

                @section scripts{
                    <script>

                        window.onload = ClearForm;

                        function OnBeginMethod() {

                        };
                        function OnSuccessMethod() {

                        };
                        function OnFailureMethod() {
                            $("#labelAjaxStatus").text("Sorry and Error occured ..." + error.responseText);
                            isError = true;
                        };
                        function OnCompleteMethod() {
                            $("#form0")[0].reset();
                        };

                        function ClearForm() {
                            $("#form0")[0].reset();
                        }

                        $("#BtnEdit").click(function () {

                            console.log("Button has been clicked");
                            $("#EditModal").modal();
                        })


                    </script>
                }




