@model Caresoft2._0.CustomData.InvestigationFormData
<div class="panel panel-primary shadow glass caresoft-panel" style="margin-bottom:-1em;">
    <div class="panel-heading ">
        Test Registration
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills">
            <li class="active top-tab"><a data-toggle="pill" href="#work-order-tab">Work Order</a></li>
            <li class="top-tab"><a data-toggle="pill" href="#outside-test-tab">Outside Test</a></li>
            <li class="top-tab"><a data-toggle="pill" href="#view-investigation-tab">View Investigation</a></li>
        </ul>
        <div class="tab-content">
            <div id="work-order-tab" class="tab-pane fade in active">
                <fieldset style="padding:5px">
                    <div class="row">
                        <div class="col-xs-2">
                            <label for="MRNo">MR No:</label>
                        </div>
                        <div class="col-xs-4">
                            <input type="text" class="text-box" value="@Model.Patient.RegNumber" readonly />
                            <input type="hidden" id="OPDNo" value="@Model.OpdRegister.Id" />
                        </div>
                        <div class="col-xs-4 text-right">
                            <button class="btn btn-primary btn-sm">Get patient Info</button>
                        </div>
                    </div>

                    <table width="100%">
                        <tr>
                            <td>Patient Name</td>
                            <td class="td-value" id="patient-name-work-order-modal" colspan="2">
                                @Model.Patient.Salutation
                                @Model.Patient.FName
                                @Model.Patient.MName
                                @Model.Patient.LName
                            </td>
                            <td>Mobile No</td>
                            <td class="td-value" id="patient-mobile-work-order-modal">@Model.Patient.Mobile</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td class="td-value" id="patient-gender-work-order-modal" colspan="2">@Model.Patient.Gender</td>
                            <td>Age</td>
                            <td class="td-value" id="patient-age-work-order-modal" colspan="2">@(DateTime.Now.Year - Model.Patient.DOB.Value.Year) Years</td>
                        </tr>
                        <tr>
                            <td>Sample Drawn Date</td>
                            <td class="td-value" id="patient-sample-drwan-date-work-order-modal">@DateTime.Now.ToShortDateString()</td>
                            <td>Ref Customer</td>
                            <td><input type="text" class="text-box box-lg" /></td>
                            <td>Ref Doctor</td>
                            <td><input type="text" class="text-box box-lg" /></td>
                        </tr>
                        <tr>
                            <td>Insurance Company</td>
                            <td class="td-value" colspan="2">@Model.Patient.PatientCategory</td>
                            <td>Scheme Name</td>
                            <td class="td-value" colspan="2">@Model.OpdRegister.Tariff.TariffName</td>


                        <tr>
                            <td>Search Tests From</td>
                            <td class="td-value">

                                <input type="radio" name="search-from" id="lab" value="Lab" checked />
                                <label for="lab">Pathology</label>
                                <input type="radio" name="search-from" id="xray" value="Xray" />
                                <label for="xray">Radiology</label>
                            </td>
                            <td colspan="2">
                                <input type="text" class="text-box box-xlg" placeholder="Search Test" id="SearchTest" />
                            </td>
                            <td></td>
                            <td class="td-value" colspan="2"></td>
                        </tr>
                    </table>



                    <fieldset>

                        <legend>Selected Tests/Profiles</legend>
                        <table class="table table-data table-condensed" id="table-selected-tests">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Test/Profile Code</th>
                                    <th>Test/Profile Name</th>
                                    <th>Rate</th>
                                    <th>Awarded</th>
                                    <th>Payable</th>
                                    <th>Department</th>
                                    <th>Status</th>
                                    <th>Order Priority</th>
                                    <th>Doctor</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white">
                                @foreach (var item in Model.TestBillServices)
                                {
                                    <tr id="service-@item.Service.Id" data-status="sent">
                                        <td>
                                            <label class="delete-row btn btn-xs" onclick="deleteThisTest(@item.Id)">Delete</label>
                                        </td>
                                        <td>@item.Service.TestProfileCode</td>
                                        <td>@item.ServiceName</td>
                                        <td>@item.Price</td>
                                        <td>@item.Award</td>
                                        <td>@((item.Quatity * item.Price) - item.Award)</td>
                                        <td></td>
                                        <td>Sent</td>
                                        <td></td>
                                        <td>@item.User.Username</td>


                                    </tr>
                                }
                            </tbody>
                        </table>
                    </fieldset>

                    <fieldset>

                        <legend>Add Notes </legend>
                        <textarea id="DoctorNotes" class="text-box" style="width:100%; height:100px;"></textarea>
                    </fieldset>

                    <div class="row marg-top-2px">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-sm" id="btn-submit-workorder">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div id="outside-test-tab" class="tab-pane fade">
                @using (Ajax.BeginForm("OutsideTest", new { }, new AjaxOptions
                {
                    OnSuccess= "",
                    LoadingElementId = "loadingElement",
                    HttpMethod = "POST",
                    UpdateTargetId = "ot_tests"


                }, new { id= "ot_form" }))
                {
                    <input hidden name="OPDId" value="@Model.OpdRegister.Id" />
                    <fieldset>
                        <div style="margin:5px">
                            <div class="row marg-top-2px">
                                <div class="col-xs-2">
                                    <label for="testType">Select Type</label>
                                </div>
                                <div class="col-xs-6">
                                    <fieldset>
                                        <input type="radio" id="descriptive" name="Type" value="Descriptive" />
                                        <label for="descriptive">Descriptive</label>

                                        <input type="radio" checked id="nonDescriptive" name="Type" value="Non-Descriptive" />
                                        <label for="nonDescriptive">Non-Descriptive</label>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="row marg-top-2px">
                                <div class="col-xs-2">
                                    <label for="testDate">Date</label>
                                </div>
                                <div class="col-xs-6">
                                    <input required type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="Date" id="testDate" class="text-box" style="width:60%" />
                                </div>
                            </div>

                            <div class="row marg-top-2px">
                                <div class="col-xs-2">
                                    <label for="testName">Test Name</label>
                                </div>
                                <div class="col-xs-6">
                                    <input required type="text" name="TestName" id="testName" class="text-box" style="width:60%" />
                                </div>
                            </div>

                            <div class="row marg-top-2px">
                                <div class="col-xs-2">
                                    <label for="testResult">Test Result</label>
                                </div>
                                <div class="col-xs-6">
                                    <textarea type="text" name="TestResults" id="testResult" class="text-box" style="height:50px; width:60%"></textarea>
                                </div>
                            </div>

                            <div class="row marg-top-2px">
                                <div class="col-xs-2">
                                    <label for="clinicalComments">Clinical Comments</label>
                                </div>
                                <div class="col-xs-6">
                                    <textarea type="text" name="ClinicalComments" id="clinicalComments" class="text-box" style="height:50px; width:60%"></textarea>
                                </div>
                            </div>

                            <div class="row marg-top-2px">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <button type="submit" class="btn btn-sm btn-primary">Save</button>
                                    <button type="reset" class="btn btn-sm btn-primary">Clear</button>
                                </div>
                            </div>
                            <br />
                            @Html.ActionLink("Print", "PrintOutsideTest", new { id = Model.OpdRegister.Id, type = "new" }, new { @class = "btn btn-sm btn-primary" })
                            @Html.ActionLink("Print All", "PrintOutsideTest", new { id = Model.OpdRegister.Id, type = "all" }, new { @class = "btn btn-sm btn-primary" })

                            @Html.Partial("~/Views/EMR/OutsideTest.cshtml", (List<CaresoftHMISDataAccess.OutsideTest>)ViewBag.OutsideTests)

                        </div>
                    </fieldset>
                }
            </div>
            <div id="view-investigation-tab" class="tab-pane fade">
                <fieldset style="width:100%;" id="my-lab-results">
                   <em><small>Results Pending...</small></em>
                </fieldset>
            </div>
        </div>
    </div>
</div>
