@model IEnumerable<LabsDataAccess.WorkOrder>

@{
    ViewBag.Title = "Authorised Patient List";
    ViewBag.ShowTopMenu = true;
    Layout = "~/Areas/Radiology/Views/Shared/_LayoutRadiology.cshtml";
    ViewBag.Title = new List<LabsDataAccess.LabTest>();

}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<div class="col-xs-8 col-xs-offset-2">
    <div class="panel panel-primary caresoft-panel">
        <div class="panel-heading" style="height:40px ; ">
            <h5 style="font-weight:bold">Sample Condition</h5>
        </div>
        <div class="panel-body">
            @using (Ajax.BeginForm("SearchPatientList", "Reports", new { }, new AjaxOptions
            {
                OnSuccess = "",
                OnComplete = "",
                UpdateTargetId = "patientList",
                LoadingElementId = "loadingElement",
                OnFailure = "showNotification('An Error Occured', 'danger', 'true')"
            }, new { }))
            {
                <div class="margin-top-bottom-2 col-xs-12">
                    <div class=" col-xs-6 text-box text-center" style="padding:8px;">
                        <label class="radio-inline"><input type="radio" checked="checked" name="seachby" value="DateRange">Date Range</label>
                        <label class="radio-inline"><input type="radio" name="seachby" value="RegistrationNo">Registration No</label>
                        <label class="radio-inline"><input type="radio" name="seachby" value="Test">Test</label>
                    </div>
                </div>

                <div class="row">
                    <div class="margin-top-bottom-2 col-xs-6">
                        <label class="col-xs-4" for="From_Date">Patient Category</label>
                        <div class="col-xs-8">
                            @Html.DropDownList("PatientCategory", new SelectList(ViewBag.PatientCategory, "Id", "CompanyTypeName"), "All",
                                         new { @class= "text-box text-box single-line", @style = "width:100%" })
                            <span class="field-validation-valid text-danger" data-valmsg-for="PatientCategory" data-valmsg-replace="true"></span>
                            @*<select class="text-box" id="PatientCategory" name="PatientCategory" style="width:100%">
                                <option>All</option>
                                <option>Cash</option>
                                <option>Insurance</option>
                            </select>
                            <span class="field-validation-valid text-danger" data-valmsg-for="PatientCategory" data-valmsg-replace="true"></span>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="margin-top-bottom-2 col-xs-6">
                        <label class="col-xs-4" for="To_Date">Company</label>
                        <div class="col-xs-8">
                            @Html.DropDownList("Company", new SelectList(ViewBag.Company, "Id", "CompanyName"), "All",
                                          new { @class= "text-box text-box single-line", @style = "width:100%" })
                            <span class="field-validation-valid text-danger" data-valmsg-for="Company" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="margin-top-bottom-2 col-xs-6">
                        <label class="col-xs-4" for="From_Date">Tarrif</label>
                        <div class="col-xs-8">
                            @Html.DropDownList("Tarrif", new SelectList(ViewBag.Tarrif, "Id", "TariffName"), "All",
              new { @class= "text-box text-box single-line", @style = "width:100%" })
                            <span class="field-validation-valid text-danger" data-valmsg-for="Tarrif" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="margin-top-bottom-2 col-xs-6">
                        <label class="col-xs-4" for="From_Date">From Date</label>
                        <div class="col-xs-8">
                            <input value='@DateTime.Now.ToString("yyyy-MM-dd")' class="text-box text-box single-line" id="FromDate" name="FromDate" style="width:100%" type="date" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="CreatedUtc" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="margin-top-bottom-2 col-xs-6">
                        <label class="col-xs-4" for="To_Date">To Date</label>
                        <div class="col-xs-8">
                            <input value='@DateTime.Now.ToString("yyyy-MM-dd")' class="text-box text-box single-line" id="ToDate" name="ToDate" style="width:100%" type="date" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="CreatedUtc" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="margin-top-bottom-2 col-xs-6">
                        <label class="col-xs-4" for="From_Date">Department</label>
                        <div class="col-xs-8">
                            @Html.DropDownList("Department", new SelectList(ViewBag.Department, "Id", "Department1"), "All",
              new { @class= "text-box text-box single-line", @style = "width:100%" })
                            <span class="field-validation-valid text-danger" data-valmsg-for="CreatedUtc" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="margin-top-bottom-2 col-xs-6">
                        <label class="col-xs-4" for="To_Date">Title</label>
                        <div class="col-xs-8">
                            @Html.DropDownList("Title", new SelectList(ViewBag.Title, "Id", "Test"), "All",
                                          new { @class= "text-box text-box single-line", @style = "width:100%" })
                            <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="margin-top-bottom-2  col-xs-6">
                        <label class="col-xs-4" for="From_Date">Doctor Name</label>
                        <div class="col-xs-8">
                            <input class="text-box text-box single-line" id="DoctorName" name="DoctorName" style="width:100%" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="DoctorName" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="margin-top-bottom-2 col-xs-6">
                        <label class="col-xs-4" for="PatientName">Patient Name</label>
                        <div class="col-xs-8">
                            <input class="text-box text-box single-line" id="PatientName" name="PatientName" style="width:100%" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="PatientName" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="margin-top-bottom-2 col-xs-6 hidden">
                        <label class="col-xs-4" for="PatientName">Patient Reg Number</label>
                        <div class="col-xs-8">
                            <input class="text-box text-box single-line" id="PatientRegNo" name="PatientRegNo" style="width:100%" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="PatientRegNo" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>

                <div class="margin-top-bottom-2 col-xs-6">
                    <div class="text-box text-center" style="padding:8px; width:auto">
                        <label class="radio-inline"><input type="radio" checked="checked" name="patient_type" value="All">All</label>
                        <label class="radio-inline"><input type="radio" name="patient_type" value="IPD">IPD</label>
                        <label class="radio-inline"><input type="radio" name="patient_type" value="OPD">OPD</label>
                        <label class="radio-inline"><input type="radio" name="patient_type" value="Direct">Direct</label>
                    </div>
                </div>

                <div class="form-group col-xs-12">
                    <button class="btn btn-sm btn-primary" type="submit">Search</button>
                    <button class="btn btn-sm btn-primary" onclick="$('page').print()">Report</button>
                </div>


            }

            <div id="patientList" style="overflow:auto" class=" cust_border_dark">
                <table class="table table-condensed table-bordered">
                    <thead class="bg-primary">
                        <tr>
                            <th>Reg No</th>
                            <th>Lab Reg No</th>
                            <th>IPD No</th>

                            <th>OPD No</th>
                            <th>Name</th>

                            <th>Doctor Name</th>
                            <th>Test Name</th>
                            <th>Bill Amount</th>
                            <th>Paid</th>

                            <th>Insurence Grant</th>
                            <th>Discount</th>
                            <th>TotalPaid</th>
                            <th>Balance</th>
                        </tr>
                    </thead>

                    <tbody class="bg-white ">
                        <tr class="text-center"><td colspan="13">No Tests To Display</td></tr>

                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>


@section scripts{

    <script>
         $(function () {

            $.ajax({
                url: "@Url.Action("getAllTestInDepartments", "Reports")",
                dataType: "json",
                data: { id: $(this).val()},
                success: function (data) {

                    $('#Title option:gt(0)').remove(); // remove all options, but not the first 

                    $.each(data, function (i, item) {
                        $('#Title').append($('<option>', {
                            value: item.Id,
                            text: item.Test
                        }));
                    });
                }
            });

        });

        $("#PatientCategory").change(function () {

            var search = 0;
            if ($(this).val() > 0) { search = $(this).val(); }

            $.ajax({
                url: "@Url.Action("getAllCompanies", "Reports")",
                dataType: "json",
                data: { search: search },
                success: function (data) {

                    $('#Company option:gt(0)').remove(); // remove all options, but not the first 

                    $.each(data, function (i, item) {
                        $('#Company').append($('<option>', {
                            value: item.Id,
                            text: item.CompanyName
                        }));
                    });
                }
            });
        });

        $("#Company").change(function () {

            var search = 0;
            if ($(this).val() > 0) { search = $(this).val(); }

            $.ajax({
                url: "@Url.Action("getAllTarrifs", "Reports")",
                dataType: "json",
                data: { search: search},
                success: function (data) {

                    $('#Tarrif option:gt(0)').remove(); // remove all options, but not the first 

                    $.each(data, function (i, item) {
                        $('#Tarrif').append($('<option>', {
                            value: item.Id,
                            text: item.TariffName
                        }));
                    });
                }
            });
        });

         $("#Department").change(function () {

            $.ajax({
                url: "@Url.Action("getAllTestInDepartments", "Reports")",
                dataType: "json",
                data: { id: $(this).val()},
                success: function (data) {

                    $('#Title option:gt(0)').remove(); // remove all options, but not the first 

                    $.each(data, function (i, item) {
                        $('#Title').append($('<option>', {
                            value: item.Id,
                            text: item.Test
                        }));
                    });
                }
            });
        });

        $("#PatientName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("searchPatientName")",
                dataType: "json",
                data: { search: $("#PatientName").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name + '| REG NO : ' + item.RegNumber, value: item.Name, RegNumber: item.RegNumber};
                    }));
                }
            });
        },
        error: function (xmlhttprequest, textstatus, errorthrown) {
            showNotification("An Error Occured, try again later", "danger", true);
        },
        minLength: 1,
        select: function (event, ui) {
            var RegNumber = ui.item.RegNumber;
            $("#PatientRegNo").val(RegNumber);
            console.log(RegNumber)
        }
        });

        $("#DoctorName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("searchDoctorName")",
                dataType: "json",
                data: { search: $("#DoctorName").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.UserName, value: item.UserName};
                    }));
                }
            });
        },
        error: function (xmlhttprequest, textstatus, errorthrown) {
            showNotification("An Error Occured, try again later", "danger", true);
        },
        minLength: 1,
        select: function (event, ui) {
            var DoctorName = ui.item.DoctorName;
            $("#DoctorName").val(DoctorName);
            console.log(DoctorName)
        }
        });

    </script>    
}