@model Caresoft2._0.Areas.Procurement.Models.ItemMaster

@{
    ViewBag.Title = "ItemMasterEdit";
    Layout = "~/Areas/MedicalStore/Views/Shared/_LayoutMedicalStore.cshtml";
}

<style>
    .table-form tr {
        height: 35px;
    }

    .text-box {
        width: 200px;
    }

    table .table-form td {
        padding-left: -1px;
    }

    .fa-plus-circle {
        color: orange;
        font-size: 24px;
    }

        .fa-plus-circle > span {
            color: darkslategray;
            font-size: 16px;
        }

    .modal {
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 0;
        left: 0;
        z-index: 10040;
        overflow: auto;
        overflow-y: auto;
    }

    .formrequired {
        color: red;
        font-size: 18px;
    }
</style>
<div>
    <div class="col-md-10">
        <div class="panel panel-primary caresoft-panel" style="margin-top:10px;">
            <div class="panel-heading custom-navbar">
                <p style="color:black;margin-left:10px;">
                    <strong>Edit Item </strong>
                </p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="">
                        <!--<form id="formItemMaster" autocomplete="off">-->
                        @using (Html.BeginForm("ItemMasterEdit", "MedicalStoreMaster", FormMethod.Post))
                        {
                            <table class="table-form" style="margin-left:10px">
                                <tr>
                                    <td>Item Name</td>
                                    <td>
                                        <input type="text" id="name" name="ItemName" class="text-box" value="@Model.ItemName" /> <span class="formrequired">*</span>
                                        <div class="text-box suggestions collapse" id="ItemNameList">

                                        </div>
                                        <input hidden name="Id" id="Id" value="@Model.Id" class="text-box" />
                                        <input hidden name="DrugId" id="DrugId" value="@Model.DrugId" class="text-box" />
                                        <input hidden name="StoreName" id="StoreName" value="MS" class="text-box" />

                                    </td>
                                    <td>Batch No</td>
                                    <td>
                                        <input type="text" name="BatchNo" id="BatchNo" class="text-box" value="@Model.BatchNo" /> <span class="formrequired">*</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Generic Drug Name</td>
                                    <td colspan="2">
                                        <input type="text" id="GenericDrugName" name="GenericDrugName" class="text-box" value="@Model.GenericDrugName" />
                                        <i class="fa fa-plus-circle" id="AddNewGenericDrug"><span>Add New Generic Drug</span></i>
                                        <div class="text-box suggestions collapse" id="GenericDrugNameList">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MfgCo. Name</td>
                                    <td colspan="2">
                                        <input type="text" id="MfgCoName" name="MfgCoName" class="text-box" value="@Model.MfgCoName" />
                                        <i class="fa fa-plus-circle" id="AddNewMfgCompany"><span>Add New Mfg Company</span></i>
                                        <div class="text-box suggestions collapse" id="MfgNameList">
                                        </div>
                                    </td>
                                    <td></td>
                                    <td>
                                        <div id="showResult">

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Category</td>
                                    <td colspan="2">
                                        <input type="text" name="Category" id="category" class="text-box" multiple value="@Model.Category" /> <span class="formrequired">*</span>
                                        <i class="fa fa-plus-circle" id="AddNewMfgCategory"><span>Add New Category</span></i>
                                        <div class="text-box suggestions collapse" id="CategoryList">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Supplier</td>
                                    <td>
                                        <input type="text" name="Supplier" id="supplier" class="text-box" value="" />
                                        <div class="text-box suggestions collapse" id="SupplierList">
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Current Stock</td>
                                    <td>
                                        <input type="text" readonly name="CurrentStock" id="CurentStock" value="@Model.CurrentStock" class="text-box" multiple />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mfg Date</td>
                                    <td>
                                        <input type="text" name="MfgDate" id="MfgDate" value="@Model.MfgDate" class="text-box" />
                                    </td>

                                </tr>
                                <tr>
                                    <td>Reorder Level</td>
                                    <td>
                                        <input type="text" name="ReorderLevel" id="ReorderLevel" value="@Model.ReorderLevel" class="text-box" multiple />
                                    </td>
                                    <td>Bar Code</td>
                                    <td>
                                        <input type="text" name="barCode" id="barcode" value="@Model.barCode" class="text-box" multiple />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Units/Pack</td>
                                    <td>
                                        <input type="text" name="UnitsPack" id="unitsPack" value="@Model.UnitsPack" class="text-box" multiple />
                                    </td>
                                    <td>Case Pack Rate</td>
                                    <td>
                                        <input type="text" name="CasePackRate" id="casePackRate" value="@Model.CasePackRate" class="text-box" multiple />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cost Price/Unit</td>
                                    <td>
                                        <input type="text" name="CostPriceUnit" id="costPriceUnit" value="@Model.CostPriceUnit" class="text-box" multiple />
                                    </td>
                                    <td>Selling Price/Unit</td>
                                    <td>
                                        <input type="text" name="SellingPriceUnit" id="sellingPriceUnit" value="@Model.SellingPriceUnit" class="text-box" multiple />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Expiry Status</td>
                                    <td>
                                        <select class="text-box" id="expiryStatus">

                                            <option>Expiry Item</option>
                                            <option selected>Non Expiry Item</option>
                                        </select>
                                    </td>

                                    <td colspan="2">
                                        <div class="collapse" id="expDate">
                                            <table class="table-form">
                                                <tr>
                                                    <td>Expiry Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td>
                                                        <div>
                                                            <input type="text" name="ExpiryDate" class="text-box" value="@Model.ExpiryDate" id="ExpiryDate" />
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td>Purchase Date</td>
                                    <td>
                                        <input type="text" name="PurchaseDate" class="text-box" id="purchaseDate" value="@Model.PurchaseDate" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <!--<input type="button" id="btnSave" class="btn btn-sm btn-primary" value="Save" /> -->
                                        <input type="submit" id="" class="btn btn-sm btn-primary" value="Save Edited" />
                                        <input type="button" class="btn btn-sm btn-primary" value="Clear" />
                                    </td>
                                    <td>
                                        <div id="result">

                                        </div>
                                    </td>
                                </tr>
                            </table>
                        }

                        <!--</form>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="GenericDrug" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content modal-sm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Generic Drug</h4>
            </div>
            <div class="modal-body">
                <table class="table-form">
                    <tr>
                        <td>Generic Drug Name</td>
                        <td>
                            <input type="text" class="text-box" id="DrugName" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="resultGeneric">

                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">

                <button type="button" id="btnSaveGenericDrug" class="btn btn-primary btn-sm">Save</button>
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="MfgCompanyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content modal-sm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Mfg Company</h4>
            </div>
            <div class="modal-body">
                <table class="table-form">
                    <tr>
                        <td>Mfg Company Name</td>
                        <td>
                            <input type="text" class="text-box" id="CompanyName" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="resultCompany">

                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSaveNewCompany" class="btn btn-primary btn-sm">Save</button>
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="CategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content modal-sm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Category</h4>
            </div>
            <div class="modal-body">
                <table class="table-form">
                    <tr>
                        <td>Category Name</td>
                        <td>
                            <input type="text" class="text-box" id="CategoryName" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="resultCategory">

                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSaveCategory" class="btn btn-primary btn-sm">Save</button>
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts{

    <script src="~/Scripts/date.js"></script>

    <script type="text/javascript">

        //On key up to populate the div containing drug list
        $("#btnSave").click(function () {
            var Name = $("#name").val();
            var BatchNo = $("#BatchNo").val();
            var GenericDrugName = $("#GenericDrugName").val();
            var MfgCoName = $("#MfgCoName").val();
            var category = $("#category").val();
            var supplier = $("#supplier").val();
            var CurentStock = $("#CurentStock").val();
            var MfgDate = $("#MfgDate").val();
            var ICDCode = $("#ICDCode").val();
            var ReorderLevel = $("#ReorderLevel").val();
            var barcode = $("#barcode").val();
            var unitsPack = $("#unitsPack").val();
            var casePackRate = $("#casePackRate").val();
            var costPriceUnit = $("#costPriceUnit").val();
            var sellingPriceUnit = $("#sellingPriceUnit").val();
            var expiryStatus = $("#expiryStatus").val();
            var purchaseDate = $("#purchaseDate").val();
            var ExpiryDate = $("#ExpiryDate").val();
            var StoreName = "MS";
            var DrugId = $("#DrugId").val();

            var model = {
                ItemName: Name, BatchNo: BatchNo, GenericDrugName: GenericDrugName,
                MfgCoName: MfgCoName, Category: category, Supplier: supplier, CurrentStock: CurentStock,
                MfgDate: MfgDate, ICDTenCode: ICDCode, ReorderLevel: ReorderLevel, barCode: barcode,
                UnitsPack: unitsPack, CasePackRate: casePackRate, CostPriceUnit: costPriceUnit,
                SellingPriceUnit: sellingPriceUnit, ExpiryStatus: expiryStatus, PurchaseDate: purchaseDate,
                ExpiryDate: ExpiryDate, StoreName: StoreName, DrugId: DrugId
            }



            //Initialize a bool variable to false
            var checkIfModelIsValid = true;

            //run function to loop through all the values in the json
            //if any of the  values in the loop is missing then show assign boolVal to true
            $.each(model, function (key, value) {

                if (key == "ItemName") {

                    if (value) {
                        //this returns true if the value is not  null, undefined, empty, nan, etc
                    }
                    else {

                        $("#name").notify("Required", { elementPosition: "right" });
                        checkIfModelIsValid = true;
                    }
                }
                else if (key == "BatchNo") {
                    if (value) {
                        //this returns true if the value is not  null, undefined, empty, nan, etc
                    }
                    else {

                        $("#BatchNo").notify("Required", { elementPosition: "right" });
                        checkIfModelIsValid = false;
                    }
                }
                else if (key == "Category") {
                    if (value) {
                        //this returns true if the value is not  null, undefined, empty, nan, etc
                    }
                    else {

                        $("#category").notify("Required", { elementPosition: "right" });
                        checkIfModelIsValid = false;
                    }
                }
                else if (key == "StoreName") {
                    if (value == "") {
                        $("#StoreName").notify("Required", { elementPosition: "right" });
                        checkIfModelIsValid = false;
                    }

                }

            });

            if (checkIfModelIsValid == true) {

                $.ajax({
                    type: 'POST',
                    url: '/ProcurementMaster/ItemMaster',
                    data: model,
                    beforeSend: function () {
                        $("#btnSave").prop("disabled", true);
                        $(".loader").show();

                    },
                    success: function () {

                        $("#formItemMaster")[0].reset();

                        $("#result").notify("Save Record Successfully", "success");
                        $("#btnSave").prop("disabled", false);
                        $(".loader").hide();
                    },
                    error: function () {
                        $("#result").notify("An Error Occured Saving your Entry", "error");
                        $("#btnSave").prop("disabled", false);
                        $(".loader").hide();
                    }
                });
            }
            else {
                $("#result").notify("One of your Entities is missing", "error");
            }

        })

        $("#expiryStatus").on('change', function () {
            var expiryStatus = $("#expiryStatus").val();

            if (expiryStatus == "Expiry Item") {
                $("#expDate").show();
            }
            else {
                $("#expDate").hide();
            }

        })

        $(window).on('load', function () {

            var dateToday = new Date();
            var yrRange = dateToday.getFullYear() + ":" + (dateToday.getFullYear() + 10);




            $("#purchaseDate").datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true,
                yearRange: yrRange
            });

            $("#MfgDate").datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true,
            });

            $("#ExpiryDate").datepicker({

                changeMonth: true,
                changeYear: true,
                yearRange: yrRange
            });

            $("#ExpiryDate").on('change', function () {
                var chosenDate = $(this).val();
                var selectedDate = new Date(chosenDate);
                var todaysDate = Date.today();

                if (selectedDate < todaysDate) {
                    //alert('Selected date must be greater than today date');
                    $("#ExpiryDate").notify("Selected date must be greater than today date", { elementPosition: "right" });
                    $(this).val('');
                }
            });



        })
    </script>


    <script src="~/Areas/MedicalStore/Scripts/ItemMasterScript.js"></script>


}

