
<table class="table-top-menu" width="100%">
    <tr style="background-color:#C1D8F9">
        <td></td>
        <td></td>
        <td></td>
        <td width="200px">
            | Master <i class="fa fa-caret-down"></i>
            <div class="dropdown-table-holder">
                <table class="dropdown-table" width="100%">
                    <tr>
                        <td data-href="@Url.Action("ItemMaster", "MasterGStore")">
                            | Item Master
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("SupplierMaster", "MasterGStore")">
                            | Supplier Master
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("ManufactureCompany", "MasterGStore")">
                            | Manufacture Company
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("CategoryMaster", "MasterGStore")">
                            | Category Master
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("", "")">
                            | Report Setting
                        </td>
                    </tr>
                </table>
            </div>
        </td>
      
        <td width="200px">
            | Department Transaction  <i class="fa fa-caret-down"></i>
            <div class="dropdown-table-holder">
                <table class="dropdown-table" width="100%">
                    <tr>
                        <td data-href="@Url.Action("IssueVoucher", "DepartmentTransactionGStore")">
                            | Issue Voucher
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("SearchIssueVoucher", "DepartmentTransactionGStore")">
                            | Search Issue Voucher
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("DeptIndexList", "DepartmentTransactionGStore")">
                            | Indent Request
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("IsueForConsuption", "DepartmentTransactionGStore")">
                            | Issue For Consumption
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("ViewPendingRequest", "DepartmentTransactionGStore")">
                            | View Pharmacy Request
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("IssueToCssd", "DepartmentTransactionGStore")">
                            | View CSSD Request
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td width="200px">
            | Branch Transaction <i class="fa fa-caret-down"></i>
            <div class="dropdown-table-holder">
                <table class="dropdown-table" width="100%">
                    <tr>
                        <td data-href="@Url.Action("ItemReceivedDetails", "BranchTransactionGStore")">
                            | Material Recieved
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("AcknowledgementDetail", "BranchTransactionGStore")">
                            | View Acknowledgement
                        </td>
                    </tr>
                </table>
            </div>

        </td>
        <td width="200px">
            | Medical Report <i class="fa fa-caret-down"></i>
            <div class="dropdown-table-holder">
                <table class="dropdown-table" width="100%">
                    <tr>
                        <td data-href="@Url.Action("", "")">
                            | Stock Report
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("", "")">
                            | Patient Report
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("", "")">
                            | Department Report
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("", "")">
                            | Branch Report
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("", "")">
                            | Donor Wise Report
                        </td>
                    </tr>
                    <tr>
                        <td data-href="@Url.Action("", "")">
                            | Issue/Sales Report
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
        <td></td>

    </tr>

</table>



